<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TÀI.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,1707},{91,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,0},{91,98}}</string>
                <key>sourceSize</key>
                <string>{149,100}</string>
            </dict>
            <key>XỈU.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,1243},{167,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,106}}</string>
                <key>sourceSize</key>
                <string>{167,106}</string>
            </dict>
            <key>bat.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,868},{373,373}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{373,373}}</string>
                <key>sourceSize</key>
                <string>{373,373}</string>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1157,534}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1157,534}}</string>
                <key>sourceSize</key>
                <string>{1157,534}</string>
            </dict>
            <key>bg_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1160},{507,684}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{507,684}}</string>
                <key>sourceSize</key>
                <string>{507,684}</string>
            </dict>
            <key>bg_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,1},{865,366}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{865,366}}</string>
                <key>sourceSize</key>
                <string>{865,366}</string>
            </dict>
            <key>bg_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,1153},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>btn_100k.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,1417},{170,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,61}}</string>
                <key>sourceSize</key>
                <string>{170,61}</string>
            </dict>
            <key>btn_10k.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,1480},{170,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,61}}</string>
                <key>sourceSize</key>
                <string>{170,61}</string>
            </dict>
            <key>btn_10m.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,1543},{170,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,61}}</string>
                <key>sourceSize</key>
                <string>{170,61}</string>
            </dict>
            <key>btn_1k.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,1606},{170,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,61}}</string>
                <key>sourceSize</key>
                <string>{170,61}</string>
            </dict>
            <key>btn_1m.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,1669},{170,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,61}}</string>
                <key>sourceSize</key>
                <string>{170,61}</string>
            </dict>
            <key>btn_500k.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,1732},{170,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,61}}</string>
                <key>sourceSize</key>
                <string>{170,61}</string>
            </dict>
            <key>btn_50k.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,1351},{170,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,61}}</string>
                <key>sourceSize</key>
                <string>{170,61}</string>
            </dict>
            <key>btn_5k.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,1417},{170,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,61}}</string>
                <key>sourceSize</key>
                <string>{170,61}</string>
            </dict>
            <key>btn_allin.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,1243},{230,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,85}}</string>
                <key>sourceSize</key>
                <string>{230,85}</string>
            </dict>
            <key>btn_gui.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,1589},{116,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,68}}</string>
                <key>sourceSize</key>
                <string>{116,68}</string>
            </dict>
            <key>btn_huy.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,1330},{230,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,85}}</string>
                <key>sourceSize</key>
                <string>{230,85}</string>
            </dict>
            <key>btn_soicau.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,1414},{98,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,99}}</string>
                <key>sourceSize</key>
                <string>{98,99}</string>
            </dict>
            <key>btn_xacnhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,1},{256,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,94}}</string>
                <key>sourceSize</key>
                <string>{256,94}</string>
            </dict>
            <key>dot_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,1795},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>dot_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,1807},{35,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,37}}</string>
                <key>sourceSize</key>
                <string>{35,37}</string>
            </dict>
            <key>dot_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,1807},{35,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,37}}</string>
                <key>sourceSize</key>
                <string>{35,37}</string>
            </dict>
            <key>dot_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,1716},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>dot_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,1807},{35,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,37}}</string>
                <key>sourceSize</key>
                <string>{35,37}</string>
            </dict>
            <key>dot_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,1807},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>dot_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,1807},{35,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,37}}</string>
                <key>sourceSize</key>
                <string>{35,37}</string>
            </dict>
            <key>ic_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,1515},{98,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,99}}</string>
                <key>sourceSize</key>
                <string>{98,99}</string>
            </dict>
            <key>ic_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,1414},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,99}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>ic_guide.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,1243},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>ic_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,1616},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>ic_lichsu.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,882},{89,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,88}}</string>
                <key>sourceSize</key>
                <string>{89,88}</string>
            </dict>
            <key>ic_nan.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,1515},{98,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,99}}</string>
                <key>sourceSize</key>
                <string>{98,99}</string>
            </dict>
            <key>ic_vinhdanh.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,791},{88,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,89}}</string>
                <key>sourceSize</key>
                <string>{88,89}</string>
            </dict>
            <key>icon_nan.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,1616},{98,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,99}}</string>
                <key>sourceSize</key>
                <string>{98,99}</string>
            </dict>
            <key>pageInfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,1795},{119,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,40}}</string>
                <key>sourceSize</key>
                <string>{119,40}</string>
            </dict>
            <key>rank_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,1064},{87,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,76}}</string>
                <key>sourceSize</key>
                <string>{87,76}</string>
            </dict>
            <key>rank_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,973},{89,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,79}}</string>
                <key>sourceSize</key>
                <string>{89,79}</string>
            </dict>
            <key>rank_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,1716},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>text_box_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,259},{280,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,62}}</string>
                <key>sourceSize</key>
                <string>{280,62}</string>
            </dict>
            <key>text_box_datcuoc.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,541},{248,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,70}}</string>
                <key>sourceSize</key>
                <string>{248,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>taixiu_canbang.png</string>
            <key>size</key>
            <string>{1001,1845}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cebcbfab5e94f984ad8b8b97cb26165c:eb4bb2b15ec3878daedd711c6faacfde:f3386a39789fd1bc5a5a1c8d65b37ba6$</string>
            <key>textureFileName</key>
            <string>taixiu_canbang.png</string>
        </dict>
    </dict>
</plist>
