<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,1151},{803,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{803,19}}</string>
                <key>sourceSize</key>
                <string>{803,19}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,1},{800,323}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,323}}</string>
                <key>sourceSize</key>
                <string>{800,323}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,335},{800,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,319}}</string>
                <key>sourceSize</key>
                <string>{800,319}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1452,326},{790,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{790,163}}</string>
                <key>sourceSize</key>
                <string>{790,163}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1142},{841,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{841,45}}</string>
                <key>sourceSize</key>
                <string>{841,45}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,1123},{814,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{814,26}}</string>
                <key>sourceSize</key>
                <string>{814,26}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,326},{795,323}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{795,323}}</string>
                <key>sourceSize</key>
                <string>{795,323}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1135,326},{786,315}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{786,315}}</string>
                <key>sourceSize</key>
                <string>{786,315}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,335},{805,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{805,162}}</string>
                <key>sourceSize</key>
                <string>{805,162}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1617,1},{800,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,201}}</string>
                <key>sourceSize</key>
                <string>{800,201}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{800,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,332}}</string>
                <key>sourceSize</key>
                <string>{800,332}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,335},{805,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{805,322}}</string>
                <key>sourceSize</key>
                <string>{805,322}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bikini_line1.png</string>
            <key>size</key>
            <string>{1819,1188}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec2f9b1496589f28ae0b83eaa5a5428a:1b2cfce27245f2142ce2026b6ff5e2b7:84bd3b828fb7ce50db2d415fe507bdda$</string>
            <key>textureFileName</key>
            <string>bikini_line1.png</string>
        </dict>
    </dict>
</plist>
