<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>+.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,1595},{53,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,64}}</string>
                <key>sourceSize</key>
                <string>{53,64}</string>
            </dict>
            <key>-.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,1661},{51,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,64}}</string>
                <key>sourceSize</key>
                <string>{51,64}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1893,581},{181,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,94}}</string>
                <key>sourceSize</key>
                <string>{181,94}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,1226},{181,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,95}}</string>
                <key>sourceSize</key>
                <string>{181,95}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1711,1046},{181,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,94}}</string>
                <key>sourceSize</key>
                <string>{181,94}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1833,863},{181,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,94}}</string>
                <key>sourceSize</key>
                <string>{181,94}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,1344},{182,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,94}}</string>
                <key>sourceSize</key>
                <string>{182,94}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,1258},{182,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,94}}</string>
                <key>sourceSize</key>
                <string>{182,94}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1808,1238},{181,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,94}}</string>
                <key>sourceSize</key>
                <string>{181,94}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1904,1046},{181,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,94}}</string>
                <key>sourceSize</key>
                <string>{181,94}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1904,1229},{181,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,94}}</string>
                <key>sourceSize</key>
                <string>{181,94}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,1354},{182,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,94}}</string>
                <key>sourceSize</key>
                <string>{182,94}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1424,1258},{182,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,94}}</string>
                <key>sourceSize</key>
                <string>{182,94}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1904,1412},{181,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,94}}</string>
                <key>sourceSize</key>
                <string>{181,94}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1808,1421},{181,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,94}}</string>
                <key>sourceSize</key>
                <string>{181,94}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1712,1422},{181,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,94}}</string>
                <key>sourceSize</key>
                <string>{181,94}</string>
            </dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,1547},{181,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,94}}</string>
                <key>sourceSize</key>
                <string>{181,94}</string>
            </dict>
            <key>23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,1255},{182,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,94}}</string>
                <key>sourceSize</key>
                <string>{182,94}</string>
            </dict>
            <key>24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1616,1255},{182,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,94}}</string>
                <key>sourceSize</key>
                <string>{182,94}</string>
            </dict>
            <key>25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1431,1442},{181,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,94}}</string>
                <key>sourceSize</key>
                <string>{181,94}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1688,1142},{182,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,94}}</string>
                <key>sourceSize</key>
                <string>{182,94}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1712,1238},{182,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,94}}</string>
                <key>sourceSize</key>
                <string>{182,94}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1527,1536},{181,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,94}}</string>
                <key>sourceSize</key>
                <string>{181,94}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,1450},{181,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,95}}</string>
                <key>sourceSize</key>
                <string>{181,95}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1527,1439},{181,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,95}}</string>
                <key>sourceSize</key>
                <string>{181,95}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,1150},{182,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,95}}</string>
                <key>sourceSize</key>
                <string>{182,95}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,1247},{182,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,95}}</string>
                <key>sourceSize</key>
                <string>{182,95}</string>
            </dict>
            <key>btn_bochon.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,1633},{248,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,72}}</string>
                <key>sourceSize</key>
                <string>{248,72}</string>
            </dict>
            <key>btn_choithat.png</key>
            <dict>
                <key>frame</key>
                <string>{{1043,863},{207,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,210}}</string>
                <key>sourceSize</key>
                <string>{207,210}</string>
            </dict>
            <key>btn_choithu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,863},{207,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,210}}</string>
                <key>sourceSize</key>
                <string>{207,210}</string>
            </dict>
            <key>btn_chonchan.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,1559},{248,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,72}}</string>
                <key>sourceSize</key>
                <string>{248,72}</string>
            </dict>
            <key>btn_chonle.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,1633},{248,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,72}}</string>
                <key>sourceSize</key>
                <string>{248,72}</string>
            </dict>
            <key>btn_quay.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,863},{232,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,251}}</string>
                <key>sourceSize</key>
                <string>{232,251}</string>
            </dict>
            <key>btn_sieutoc.png</key>
            <dict>
                <key>frame</key>
                <string>{{1461,863},{184,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,181}}</string>
                <key>sourceSize</key>
                <string>{184,181}</string>
            </dict>
            <key>btn_sieutoc_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1647,863},{184,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,181}}</string>
                <key>sourceSize</key>
                <string>{184,181}</string>
            </dict>
            <key>btn_tatca.png</key>
            <dict>
                <key>frame</key>
                <string>{{1461,1046},{248,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,72}}</string>
                <key>sourceSize</key>
                <string>{248,72}</string>
            </dict>
            <key>btn_tudong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1273,1075},{184,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,181}}</string>
                <key>sourceSize</key>
                <string>{184,181}</string>
            </dict>
            <key>btn_tudong_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,1226},{184,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,181}}</string>
                <key>sourceSize</key>
                <string>{184,181}</string>
            </dict>
            <key>frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1100,624}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1100,624}}</string>
                <key>sourceSize</key>
                <string>{1100,624}</string>
            </dict>
            <key>frame_dong.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,1097},{216,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,127}}</string>
                <key>sourceSize</key>
                <string>{216,127}</string>
            </dict>
            <key>frame_muccuoc.png</key>
            <dict>
                <key>frame</key>
                <string>{{1459,1120},{227,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,133}}</string>
                <key>sourceSize</key>
                <string>{227,133}</string>
            </dict>
            <key>frame_page.png</key>
            <dict>
                <key>frame</key>
                <string>{{1043,1075},{228,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,73}}</string>
                <key>sourceSize</key>
                <string>{228,73}</string>
            </dict>
            <key>frame_thongbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,627},{787,486}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{787,486}}</string>
                <key>sourceSize</key>
                <string>{787,486}</string>
            </dict>
            <key>frame_tongcuoc.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,1559},{317,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,153}}</string>
                <key>sourceSize</key>
                <string>{317,153}</string>
            </dict>
            <key>frame_tongthang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1559},{340,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,171}}</string>
                <key>sourceSize</key>
                <string>{340,171}</string>
            </dict>
            <key>ic_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,1605},{106,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,108}}</string>
                <key>sourceSize</key>
                <string>{106,108}</string>
            </dict>
            <key>ic_bxh.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,1643},{89,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,91}}</string>
                <key>sourceSize</key>
                <string>{89,91}</string>
            </dict>
            <key>ic_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,1409},{89,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,92}}</string>
                <key>sourceSize</key>
                <string>{89,92}</string>
            </dict>
            <key>ic_huongdan.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,1409},{89,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,92}}</string>
                <key>sourceSize</key>
                <string>{89,92}</string>
            </dict>
            <key>ic_lichsu.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,1409},{89,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,92}}</string>
                <key>sourceSize</key>
                <string>{89,92}</string>
            </dict>
            <key>ic_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1818,1604},{106,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,108}}</string>
                <key>sourceSize</key>
                <string>{106,108}</string>
            </dict>
            <key>ic_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{1253,1643},{89,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,92}}</string>
                <key>sourceSize</key>
                <string>{89,92}</string>
            </dict>
            <key>ic_music_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1347,1643},{89,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,92}}</string>
                <key>sourceSize</key>
                <string>{89,92}</string>
            </dict>
            <key>ic_sangphai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,1440},{54,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,79}}</string>
                <key>sourceSize</key>
                <string>{54,79}</string>
            </dict>
            <key>ic_sangtrai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,1440},{54,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,79}}</string>
                <key>sourceSize</key>
                <string>{54,79}</string>
            </dict>
            <key>ic_sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,764},{89,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,92}}</string>
                <key>sourceSize</key>
                <string>{89,92}</string>
            </dict>
            <key>ic_sound_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1441,1632},{89,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,92}}</string>
                <key>sourceSize</key>
                <string>{89,92}</string>
            </dict>
            <key>page_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1103,412},{788,347}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{788,347}}</string>
                <key>sourceSize</key>
                <string>{788,347}</string>
            </dict>
            <key>page_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1103,1},{770,409}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{770,409}}</string>
                <key>sourceSize</key>
                <string>{770,409}</string>
            </dict>
            <key>page_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1115},{770,386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{770,386}}</string>
                <key>sourceSize</key>
                <string>{770,386}</string>
            </dict>
            <key>roll.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1503},{1245,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1245,54}}</string>
                <key>sourceSize</key>
                <string>{1245,54}</string>
            </dict>
            <key>title_danhsach.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,761},{1092,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1092,49}}</string>
                <key>sourceSize</key>
                <string>{1092,49}</string>
            </dict>
            <key>title_danhsach_honor.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,812},{1045,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1045,49}}</string>
                <key>sourceSize</key>
                <string>{1045,49}</string>
            </dict>
            <key>title_guide.png</key>
            <dict>
                <key>frame</key>
                <string>{{1875,1},{359,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,107}}</string>
                <key>sourceSize</key>
                <string>{359,107}</string>
            </dict>
            <key>title_his.png</key>
            <dict>
                <key>frame</key>
                <string>{{1893,362},{217,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,86}}</string>
                <key>sourceSize</key>
                <string>{217,86}</string>
            </dict>
            <key>title_honor.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,1559},{299,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,72}}</string>
                <key>sourceSize</key>
                <string>{299,72}</string>
            </dict>
            <key>title_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,627},{292,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,103}}</string>
                <key>sourceSize</key>
                <string>{292,103}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bikini_UI.png</string>
            <key>size</key>
            <string>{1999,1735}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d9766c59a6a6ea00796fd31e51a05be:228264b89b2b9081201bc0d02f057f50:c8075dc0b2509943ca4ee9a51285be34$</string>
            <key>textureFileName</key>
            <string>bikini_UI.png</string>
        </dict>
    </dict>
</plist>
