<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,1},{800,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,177}}</string>
                <key>sourceSize</key>
                <string>{800,177}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{790,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{790,164}}</string>
                <key>sourceSize</key>
                <string>{790,164}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,180},{800,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,181}}</string>
                <key>sourceSize</key>
                <string>{800,181}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,180},{818,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{818,185}}</string>
                <key>sourceSize</key>
                <string>{818,185}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,367},{816,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{816,235}}</string>
                <key>sourceSize</key>
                <string>{816,235}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1623,1},{790,347}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{790,347}}</string>
                <key>sourceSize</key>
                <string>{790,347}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,604},{805,317}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{805,317}}</string>
                <key>sourceSize</key>
                <string>{805,317}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,793},{795,363}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{795,363}}</string>
                <key>sourceSize</key>
                <string>{795,363}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1250},{805,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{805,350}}</string>
                <key>sourceSize</key>
                <string>{805,350}</string>
            </dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,684},{800,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,320}}</string>
                <key>sourceSize</key>
                <string>{800,320}</string>
            </dict>
            <key>23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,923},{805,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{805,325}}</string>
                <key>sourceSize</key>
                <string>{805,325}</string>
            </dict>
            <key>24.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,367},{790,315}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{790,315}}</string>
                <key>sourceSize</key>
                <string>{790,315}</string>
            </dict>
            <key>25.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,1006},{800,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,342}}</string>
                <key>sourceSize</key>
                <string>{800,342}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bikini_line2.png</string>
            <key>size</key>
            <string>{1974,1601}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa59aba1ba727bdf1de6bce49e841f34:7fbd35257a00fe6a6805d0cf10a9aa32:6c2fb38bb94da5a08df7d72e1b4c0461$</string>
            <key>textureFileName</key>
            <string>bikini_line2.png</string>
        </dict>
    </dict>
</plist>
