<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>item_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,1244},{186,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{186,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item_0_blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1430},{186,228}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,12},{186,228}}</string>
                <key>sourceSize</key>
                <string>{200,256}</string>
            </dict>
            <key>item_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,876},{184,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,207}}</string>
                <key>sourceSize</key>
                <string>{184,207}</string>
            </dict>
            <key>item_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,694},{200,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,182}}</string>
                <key>sourceSize</key>
                <string>{200,182}</string>
            </dict>
            <key>item_10_blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,1620},{200,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,212}}</string>
                <key>sourceSize</key>
                <string>{200,212}</string>
            </dict>
            <key>item_1_blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,1060},{184,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,235}}</string>
                <key>sourceSize</key>
                <string>{184,235}</string>
            </dict>
            <key>item_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,504},{190,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,190}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>item_2_blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,1430},{190,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,220}}</string>
                <key>sourceSize</key>
                <string>{190,220}</string>
            </dict>
            <key>item_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,154},{180,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,205}}</string>
                <key>sourceSize</key>
                <string>{180,205}</string>
            </dict>
            <key>item_3_blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,334},{180,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,235}}</string>
                <key>sourceSize</key>
                <string>{180,235}</string>
            </dict>
            <key>item_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,694},{182,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,199}}</string>
                <key>sourceSize</key>
                <string>{182,199}</string>
            </dict>
            <key>item_4_blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,876},{182,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,228}}</string>
                <key>sourceSize</key>
                <string>{182,228}</string>
            </dict>
            <key>item_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,324},{180,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,195}}</string>
                <key>sourceSize</key>
                <string>{180,195}</string>
            </dict>
            <key>item_5_blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,514},{180,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,225}}</string>
                <key>sourceSize</key>
                <string>{180,225}</string>
            </dict>
            <key>item_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{200,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,154}}</string>
                <key>sourceSize</key>
                <string>{200,154}</string>
            </dict>
            <key>item_6_blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1058},{200,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,184}}</string>
                <key>sourceSize</key>
                <string>{200,184}</string>
            </dict>
            <key>item_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,154},{200,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,170}}</string>
                <key>sourceSize</key>
                <string>{200,170}</string>
            </dict>
            <key>item_7_blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1810},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>item_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1616},{194,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,211}}</string>
                <key>sourceSize</key>
                <string>{194,211}</string>
            </dict>
            <key>item_8_blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,1820},{194,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,241}}</string>
                <key>sourceSize</key>
                <string>{194,241}</string>
            </dict>
            <key>item_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,0},{200,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,154}}</string>
                <key>sourceSize</key>
                <string>{200,154}</string>
            </dict>
            <key>item_9_blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1242},{200,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,184}}</string>
                <key>sourceSize</key>
                <string>{200,184}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bikini_item.png</string>
            <key>size</key>
            <string>{448,2014}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8c66d7686973cfe72d64463c133ff7d:0731c84fdcd380e67325c60fd7ccf165:20cd804ab89d5aa8b7d2951f84719965$</string>
            <key>textureFileName</key>
            <string>bikini_item.png</string>
        </dict>
    </dict>
</plist>
