<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_item_engame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,369},{852,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{852,77}}</string>
                <key>sourceSize</key>
                <string>{852,77}</string>
            </dict>
            <key>btn_xacnhan_endgame_xeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,221},{187,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,57}}</string>
                <key>sourceSize</key>
                <string>{187,57}</string>
            </dict>
            <key>khung_cong.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,162},{152,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,42}}</string>
                <key>sourceSize</key>
                <string>{152,42}</string>
            </dict>
            <key>khung_thang_xeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,1},{218,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,62}}</string>
                <key>sourceSize</key>
                <string>{218,62}</string>
            </dict>
            <key>khung_thoi_tu_quy.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,202},{182,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,42}}</string>
                <key>sourceSize</key>
                <string>{182,42}</string>
            </dict>
            <key>khung_thua_xeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,1},{159,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,54}}</string>
                <key>sourceSize</key>
                <string>{159,54}</string>
            </dict>
            <key>khung_toi_trang.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,1},{199,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,42}}</string>
                <key>sourceSize</key>
                <string>{199,42}</string>
            </dict>
            <key>nen_effect_vang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{784,366}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{784,366}}</string>
                <key>sourceSize</key>
                <string>{806,378}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>EndGamePlist.png</string>
            <key>size</key>
            <string>{962,447}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:59dd7ebeaedbf86155ab3bc226f0a103:e12978d3b2639f86adc61bad725c49a8:1a8c1735b2f587e06f3e5d5a62befecb$</string>
            <key>textureFileName</key>
            <string>EndGamePlist.png</string>
        </dict>
    </dict>
</plist>
