<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1920,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1920,1080}}</string>
                <key>sourceSize</key>
                <string>{1920,1080}</string>
            </dict>
            <key>bg_chip.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,1495},{297,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,47}}</string>
                <key>sourceSize</key>
                <string>{297,47}</string>
            </dict>
            <key>bottom_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1083},{1920,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1920,141}}</string>
                <key>sourceSize</key>
                <string>{1920,141}</string>
            </dict>
            <key>btnBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,1491},{77,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,52}}</string>
                <key>sourceSize</key>
                <string>{77,52}</string>
            </dict>
            <key>btnCreateTable.png</key>
            <dict>
                <key>frame</key>
                <string>{{1652,1461},{92,67}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,67}}</string>
                <key>sourceSize</key>
                <string>{92,71}</string>
            </dict>
            <key>btnQuickPlay.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,1368},{121,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{121,65}}</string>
                <key>sourceSize</key>
                <string>{135,65}</string>
            </dict>
            <key>btn_choingay.png</key>
            <dict>
                <key>frame</key>
                <string>{{1155,1368},{343,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,123}}</string>
                <key>sourceSize</key>
                <string>{343,123}</string>
            </dict>
            <key>btn_plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{1746,1461},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>btn_refersh.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,1368},{343,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,125}}</string>
                <key>sourceSize</key>
                <string>{343,125}</string>
            </dict>
            <key>canhbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,1368},{383,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,125}}</string>
                <key>sourceSize</key>
                <string>{383,125}</string>
            </dict>
            <key>icon_refesh.png</key>
            <dict>
                <key>frame</key>
                <string>{{1579,1461},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>item_coins.png</key>
            <dict>
                <key>frame</key>
                <string>{{1805,1461},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>text_chonggianlantuyetdoi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1579,1368},{328,91}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{328,91}}</string>
                <key>sourceSize</key>
                <string>{390,91}</string>
            </dict>
            <key>top_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1226},{1920,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1920,140}}</string>
                <key>sourceSize</key>
                <string>{1920,140}</string>
            </dict>
            <key>txt_tienlen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1368},{422,175}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{422,175}}</string>
                <key>sourceSize</key>
                <string>{438,175}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tienlen_lobby.png</string>
            <key>size</key>
            <string>{1922,1544}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92c9c7999a478d48d1853ef2aa1ff2d0:df8688f5654505cb1344ac7b27371da7:ae3ef0c37573f2498d1a8509a21de455$</string>
            <key>textureFileName</key>
            <string>tienlen_lobby.png</string>
        </dict>
    </dict>
</plist>
