<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bat.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,358},{332,334}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,334}}</string>
                <key>sourceSize</key>
                <string>{334,334}</string>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1332,650}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,0},{1332,650}}</string>
                <key>sourceSize</key>
                <string>{1356,660}</string>
            </dict>
            <key>bg_chip.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,1},{862,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{862,197}}</string>
                <key>sourceSize</key>
                <string>{870,203}</string>
            </dict>
            <key>bg_cuoc.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,1553},{113,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{113,27}}</string>
                <key>sourceSize</key>
                <string>{115,27}</string>
            </dict>
            <key>bg_lichsu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1335},{264,459}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,459}}</string>
                <key>sourceSize</key>
                <string>{264,459}</string>
            </dict>
            <key>bg_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,865},{389,10}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,0},{389,10}}</string>
                <key>sourceSize</key>
                <string>{437,10}</string>
            </dict>
            <key>btn_datlai.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,865},{202,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,75}}</string>
                <key>sourceSize</key>
                <string>{202,75}</string>
            </dict>
            <key>btn_doicau.png</key>
            <dict>
                <key>frame</key>
                <string>{{1143,1088},{174,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,75}}</string>
                <key>sourceSize</key>
                <string>{174,75}</string>
            </dict>
            <key>btn_dongy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1209,1},{201,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,75}}</string>
                <key>sourceSize</key>
                <string>{201,75}</string>
            </dict>
            <key>btn_huy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1209,204},{174,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,75}}</string>
                <key>sourceSize</key>
                <string>{174,75}</string>
            </dict>
            <key>chip_100k.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,1401},{131,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{131,133}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>chip_10k.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,1280},{131,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{131,133}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>chip_1k.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,1280},{129,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{129,133}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>chip_50k.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,1473},{129,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{129,133}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>chip_5k.png</key>
            <dict>
                <key>frame</key>
                <string>{{1049,1415},{129,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{129,133}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>dia.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,1},{355,355}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{355,355}}</string>
                <key>sourceSize</key>
                <string>{357,357}</string>
            </dict>
            <key>ic_bau.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,1524},{73,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,72}}</string>
                <key>sourceSize</key>
                <string>{73,72}</string>
            </dict>
            <key>ic_ca.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,594},{77,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,76}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>ic_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,380},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>ic_cua.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,1516},{77,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,76}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>ic_ga.png</key>
            <dict>
                <key>frame</key>
                <string>{{1223,898},{77,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,76}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>ic_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,490},{103,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,102}}</string>
                <key>sourceSize</key>
                <string>{103,102}</string>
            </dict>
            <key>ic_kq_bau.png</key>
            <dict>
                <key>frame</key>
                <string>{{1101,1546},{55,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,70}}</string>
                <key>sourceSize</key>
                <string>{55,70}</string>
            </dict>
            <key>ic_kq_ca.png</key>
            <dict>
                <key>frame</key>
                <string>{{1223,977},{77,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,76}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>ic_kq_cua.png</key>
            <dict>
                <key>frame</key>
                <string>{{1223,1056},{77,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,76}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>ic_kq_ga.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,1134},{77,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,76}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>ic_kq_nai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,1212},{77,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,76}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>ic_kq_tom.png</key>
            <dict>
                <key>frame</key>
                <string>{{1197,1290},{77,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,76}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>ic_lichsu.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,1265},{103,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,102}}</string>
                <key>sourceSize</key>
                <string>{103,102}</string>
            </dict>
            <key>ic_nai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1197,1368},{77,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,76}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>ic_sangphai.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,1553},{45,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,74}}</string>
                <key>sourceSize</key>
                <string>{45,74}</string>
            </dict>
            <key>ic_sangtrai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1025,1546},{44,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,74}}</string>
                <key>sourceSize</key>
                <string>{44,74}</string>
            </dict>
            <key>ic_soicau.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,1413},{101,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,101}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>ic_tom.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,1446},{77,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,76}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>ic_vinhdanh.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,1369},{103,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,102}}</string>
                <key>sourceSize</key>
                <string>{103,102}</string>
            </dict>
            <key>item_bau.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,694},{202,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,187}}</string>
                <key>sourceSize</key>
                <string>{202,187}</string>
            </dict>
            <key>item_ca.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,1075},{201,188}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,188}}</string>
                <key>sourceSize</key>
                <string>{203,188}</string>
            </dict>
            <key>item_cua.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,885},{202,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,188}}</string>
                <key>sourceSize</key>
                <string>{202,188}</string>
            </dict>
            <key>item_ga.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,694},{203,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,189}}</string>
                <key>sourceSize</key>
                <string>{203,189}</string>
            </dict>
            <key>item_nai.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,1088},{200,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{200,190}}</string>
                <key>sourceSize</key>
                <string>{202,190}</string>
            </dict>
            <key>item_tom.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,898},{202,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,188}}</string>
                <key>sourceSize</key>
                <string>{202,188}</string>
            </dict>
            <key>line_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,1335},{214,216}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{214,216}}</string>
                <key>sourceSize</key>
                <string>{216,218}</string>
            </dict>
            <key>spr_dice.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,1265},{146,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,134}}</string>
                <key>sourceSize</key>
                <string>{146,134}</string>
            </dict>
            <key>title.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,865},{360,71}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,22},{360,71}}</string>
                <key>sourceSize</key>
                <string>{366,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>baucua.png</string>
            <key>size</key>
            <string>{1301,1603}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8376c554053d648dfbb1f1a8b773791:57e2a21e169d0e39f77bdec0f9424178:238863a0e5755e670d0679ceb5cb3f3e$</string>
            <key>textureFileName</key>
            <string>baucua.png</string>
        </dict>
    </dict>
</plist>
