<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,856},{168,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{168,78}}</string>
                <key>sourceSize</key>
                <string>{170,78}</string>
            </dict>
            <key>100_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,856},{168,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{168,78}}</string>
                <key>sourceSize</key>
                <string>{170,78}</string>
            </dict>
            <key>10k.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,856},{168,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{168,78}}</string>
                <key>sourceSize</key>
                <string>{170,78}</string>
            </dict>
            <key>10k_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,855},{168,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{168,78}}</string>
                <key>sourceSize</key>
                <string>{170,78}</string>
            </dict>
            <key>1k.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,855},{168,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{168,78}}</string>
                <key>sourceSize</key>
                <string>{170,78}</string>
            </dict>
            <key>1k_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,855},{168,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{168,78}}</string>
                <key>sourceSize</key>
                <string>{170,78}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1915,1},{168,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{168,78}}</string>
                <key>sourceSize</key>
                <string>{170,78}</string>
            </dict>
            <key>DAT-CUOC.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,1},{794,496}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{794,496}}</string>
                <key>sourceSize</key>
                <string>{794,496}</string>
            </dict>
            <key>Group-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,1},{852,548}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{852,548}}</string>
                <key>sourceSize</key>
                <string>{854,548}</string>
            </dict>
            <key>THE-LE.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{853,595}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{853,595}}</string>
                <key>sourceSize</key>
                <string>{853,595}</string>
            </dict>
            <key>box_money.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,797},{261,47}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{261,47}}</string>
                <key>sourceSize</key>
                <string>{263,51}</string>
            </dict>
            <key>btn_all.png</key>
            <dict>
                <key>frame</key>
                <string>{{1678,243},{168,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{168,78}}</string>
                <key>sourceSize</key>
                <string>{170,78}</string>
            </dict>
            <key>btn_bochon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1908,171},{168,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{168,78}}</string>
                <key>sourceSize</key>
                <string>{170,78}</string>
            </dict>
            <key>btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{1918,571},{89,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{89,85}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>btn_even.png</key>
            <dict>
                <key>frame</key>
                <string>{{1758,368},{168,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{168,78}}</string>
                <key>sourceSize</key>
                <string>{170,78}</string>
            </dict>
            <key>btn_history.png</key>
            <dict>
                <key>frame</key>
                <string>{{1333,846},{58,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>btn_odd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1678,413},{168,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{168,78}}</string>
                <key>sourceSize</key>
                <string>{170,78}</string>
            </dict>
            <key>btn_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,833},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>btn_tutorial.png</key>
            <dict>
                <key>frame</key>
                <string>{{1920,770},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>dung.png</key>
            <dict>
                <key>frame</key>
                <string>{{1758,538},{168,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{168,78}}</string>
                <key>sourceSize</key>
                <string>{170,78}</string>
            </dict>
            <key>icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1411,797},{146,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,144}}</string>
                <key>sourceSize</key>
                <string>{146,144}</string>
            </dict>
            <key>icon1_blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,123},{118,131}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,131}}</string>
                <key>sourceSize</key>
                <string>{118,133}</string>
            </dict>
            <key>icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,1},{120,131}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{120,131}}</string>
                <key>sourceSize</key>
                <string>{128,159}</string>
            </dict>
            <key>icon2_blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{1193,846},{101,138}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,138}}</string>
                <key>sourceSize</key>
                <string>{101,142}</string>
            </dict>
            <key>icon3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1779,123},{127,120}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{127,120}}</string>
                <key>sourceSize</key>
                <string>{149,152}</string>
            </dict>
            <key>icon3_blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{1557,797},{119,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,136}}</string>
                <key>sourceSize</key>
                <string>{119,136}</string>
            </dict>
            <key>icon4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,1},{134,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{134,120}}</string>
                <key>sourceSize</key>
                <string>{134,130}</string>
            </dict>
            <key>icon4_blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{1876,463},{106,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,121}}</string>
                <key>sourceSize</key>
                <string>{106,121}</string>
            </dict>
            <key>icon5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1758,245},{122,121}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{122,121}}</string>
                <key>sourceSize</key>
                <string>{122,133}</string>
            </dict>
            <key>icon5_blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,708},{96,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,123}}</string>
                <key>sourceSize</key>
                <string>{96,123}</string>
            </dict>
            <key>icon6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,341},{120,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,17},{120,121}}</string>
                <key>sourceSize</key>
                <string>{124,155}</string>
            </dict>
            <key>icon6_blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{1824,781},{94,115}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{94,115}}</string>
                <key>sourceSize</key>
                <string>{94,141}</string>
            </dict>
            <key>quay.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,583},{168,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{168,78}}</string>
                <key>sourceSize</key>
                <string>{170,78}</string>
            </dict>
            <key>sieu toc.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,856},{170,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,78}}</string>
                <key>sourceSize</key>
                <string>{170,78}</string>
            </dict>
            <key>text_bangvinhdanh.png</key>
            <dict>
                <key>frame</key>
                <string>{{1838,368},{241,36}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,2},{241,36}}</string>
                <key>sourceSize</key>
                <string>{349,40}</string>
            </dict>
            <key>text_dongdatcuoc.png</key>
            <dict>
                <key>frame</key>
                <string>{{1678,753},{191,46}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,1},{191,46}}</string>
                <key>sourceSize</key>
                <string>{339,48}</string>
            </dict>
            <key>text_lichsugiaodich.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,898},{272,43}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,2},{272,43}}</string>
                <key>sourceSize</key>
                <string>{376,49}</string>
            </dict>
            <key>text_thele.png</key>
            <dict>
                <key>frame</key>
                <string>{{1918,662},{106,54}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{106,54}}</string>
                <key>sourceSize</key>
                <string>{134,56}</string>
            </dict>
            <key>tu quay.png</key>
            <dict>
                <key>frame</key>
                <string>{{1838,611},{168,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{168,78}}</string>
                <key>sourceSize</key>
                <string>{170,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{2004,948}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:899b0ac637c70128a3f4dd06682b380f:ba59f3aef3e98168637e9afb27fa4787:e489eb72a1dac3e9a97caaf8aad1ac42$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
