<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,950},{150,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,119}}</string>
                <key>sourceSize</key>
                <string>{150,119}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,637},{152,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,124}}</string>
                <key>sourceSize</key>
                <string>{152,124}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,511},{153,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,124}}</string>
                <key>sourceSize</key>
                <string>{153,124}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1077},{156,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,124}}</string>
                <key>sourceSize</key>
                <string>{156,124}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,1148},{156,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,124}}</string>
                <key>sourceSize</key>
                <string>{156,124}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,824},{157,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,124}}</string>
                <key>sourceSize</key>
                <string>{157,124}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,950},{156,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,125}}</string>
                <key>sourceSize</key>
                <string>{156,125}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,257},{153,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,125}}</string>
                <key>sourceSize</key>
                <string>{153,125}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,384},{153,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,125}}</string>
                <key>sourceSize</key>
                <string>{153,125}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,130},{154,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,125}}</string>
                <key>sourceSize</key>
                <string>{154,125}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,1021},{156,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,125}}</string>
                <key>sourceSize</key>
                <string>{156,125}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,1071},{150,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,119}}</string>
                <key>sourceSize</key>
                <string>{150,119}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,697},{158,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,125}}</string>
                <key>sourceSize</key>
                <string>{158,125}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,569},{158,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,126}}</string>
                <key>sourceSize</key>
                <string>{158,126}</string>
            </dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,763},{157,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,127}}</string>
                <key>sourceSize</key>
                <string>{157,127}</string>
            </dict>
            <key>23.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,569},{155,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,127}}</string>
                <key>sourceSize</key>
                <string>{155,127}</string>
            </dict>
            <key>24.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1},{154,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,127}}</string>
                <key>sourceSize</key>
                <string>{154,127}</string>
            </dict>
            <key>25.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,892},{156,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,127}}</string>
                <key>sourceSize</key>
                <string>{156,127}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,1192},{150,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,119}}</string>
                <key>sourceSize</key>
                <string>{150,119}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1203},{150,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,119}}</string>
                <key>sourceSize</key>
                <string>{150,119}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1324},{150,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,119}}</string>
                <key>sourceSize</key>
                <string>{150,119}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,1274},{149,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,119}}</string>
                <key>sourceSize</key>
                <string>{149,119}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,1313},{149,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,119}}</string>
                <key>sourceSize</key>
                <string>{149,119}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,698},{150,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,124}}</string>
                <key>sourceSize</key>
                <string>{150,124}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,824},{150,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,124}}</string>
                <key>sourceSize</key>
                <string>{150,124}</string>
            </dict>
            <key>btn_bochon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{315,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,69}}</string>
                <key>sourceSize</key>
                <string>{315,69}</string>
            </dict>
            <key>btn_bochon_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,72},{315,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,69}}</string>
                <key>sourceSize</key>
                <string>{315,69}</string>
            </dict>
            <key>btn_chonchan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,143},{315,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,69}}</string>
                <key>sourceSize</key>
                <string>{315,69}</string>
            </dict>
            <key>btn_chonchan_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,214},{315,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,69}}</string>
                <key>sourceSize</key>
                <string>{315,69}</string>
            </dict>
            <key>btn_chonele_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,285},{315,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,69}}</string>
                <key>sourceSize</key>
                <string>{315,69}</string>
            </dict>
            <key>btn_chonle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,356},{315,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,69}}</string>
                <key>sourceSize</key>
                <string>{315,69}</string>
            </dict>
            <key>btn_tatca.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,427},{315,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,69}}</string>
                <key>sourceSize</key>
                <string>{315,69}</string>
            </dict>
            <key>btn_tatca_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,498},{315,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,69}}</string>
                <key>sourceSize</key>
                <string>{315,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_chondong.png</string>
            <key>size</key>
            <string>{473,1444}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:46ee9dac0d88f27f46a806f930bfd2ee:d83900d614ab71a645950d586e7fe997:a12aa8e6159fe115d545f65b5cc66937$</string>
            <key>textureFileName</key>
            <string>ui_chondong.png</string>
        </dict>
    </dict>
</plist>
