<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1023},{152,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,122}}</string>
                <key>sourceSize</key>
                <string>{152,122}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,947},{151,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,126}}</string>
                <key>sourceSize</key>
                <string>{151,126}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,1100},{151,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,126}}</string>
                <key>sourceSize</key>
                <string>{151,126}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,638},{153,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,126}}</string>
                <key>sourceSize</key>
                <string>{153,126}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,767},{153,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,126}}</string>
                <key>sourceSize</key>
                <string>{153,126}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,773},{152,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,126}}</string>
                <key>sourceSize</key>
                <string>{152,126}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,793},{152,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,126}}</string>
                <key>sourceSize</key>
                <string>{152,126}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,1153},{151,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,126}}</string>
                <key>sourceSize</key>
                <string>{151,126}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,1253},{151,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,126}}</string>
                <key>sourceSize</key>
                <string>{151,126}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1271},{151,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,126}}</string>
                <key>sourceSize</key>
                <string>{151,126}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,649},{153,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,122}}</string>
                <key>sourceSize</key>
                <string>{153,122}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,131},{160,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,126}}</string>
                <key>sourceSize</key>
                <string>{160,126}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,638},{153,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,127}}</string>
                <key>sourceSize</key>
                <string>{153,127}</string>
            </dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,1},{161,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,128}}</string>
                <key>sourceSize</key>
                <string>{161,128}</string>
            </dict>
            <key>23.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,389},{156,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,128}}</string>
                <key>sourceSize</key>
                <string>{156,128}</string>
            </dict>
            <key>24.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,519},{156,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,128}}</string>
                <key>sourceSize</key>
                <string>{156,128}</string>
            </dict>
            <key>25.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,259},{158,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,128}}</string>
                <key>sourceSize</key>
                <string>{158,128}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,1281},{151,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,122}}</string>
                <key>sourceSize</key>
                <string>{151,122}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,1405},{151,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,122}}</string>
                <key>sourceSize</key>
                <string>{151,122}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,1029},{152,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,122}}</string>
                <key>sourceSize</key>
                <string>{152,122}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1406},{151,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,122}}</string>
                <key>sourceSize</key>
                <string>{151,122}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1147},{152,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,122}}</string>
                <key>sourceSize</key>
                <string>{152,122}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,895},{152,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,126}}</string>
                <key>sourceSize</key>
                <string>{152,126}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1399},{151,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,126}}</string>
                <key>sourceSize</key>
                <string>{151,126}</string>
            </dict>
            <key>btn_bochon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{287,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{287,68}}</string>
                <key>sourceSize</key>
                <string>{321,68}</string>
            </dict>
            <key>btn_bochon_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,71},{287,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{287,68}}</string>
                <key>sourceSize</key>
                <string>{321,68}</string>
            </dict>
            <key>btn_chonchan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,141},{287,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{287,68}}</string>
                <key>sourceSize</key>
                <string>{321,68}</string>
            </dict>
            <key>btn_chonchan_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,211},{287,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{287,68}}</string>
                <key>sourceSize</key>
                <string>{321,68}</string>
            </dict>
            <key>btn_chonle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,281},{287,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{287,68}}</string>
                <key>sourceSize</key>
                <string>{321,68}</string>
            </dict>
            <key>btn_chonle_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,351},{287,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{287,68}}</string>
                <key>sourceSize</key>
                <string>{321,68}</string>
            </dict>
            <key>btn_tatca.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,421},{287,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{287,68}}</string>
                <key>sourceSize</key>
                <string>{321,68}</string>
            </dict>
            <key>btn_tatca_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,491},{287,68}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{287,68}}</string>
                <key>sourceSize</key>
                <string>{321,68}</string>
            </dict>
            <key>line_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,901},{152,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,126}}</string>
                <key>sourceSize</key>
                <string>{152,126}</string>
            </dict>
            <key>title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,561},{241,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,0},{241,75}}</string>
                <key>sourceSize</key>
                <string>{343,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_chondong_euro.png</string>
            <key>size</key>
            <string>{452,1558}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:263c007ff034691bdbc0f91779e8a117:361ecb4a85dee83a14bfb8c437120f6d:5d24e2e8e1bcff598f92283dbb9a8d19$</string>
            <key>textureFileName</key>
            <string>ui_chondong_euro.png</string>
        </dict>
    </dict>
</plist>
