<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GAME BÀI BA CÂY.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1501},{326,55}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,1},{326,55}}</string>
                <key>sourceSize</key>
                <string>{452,57}</string>
            </dict>
            <key>Icon_User.png</key>
            <dict>
                <key>frame</key>
                <string>{{1874,1366},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>bar_process.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,1501},{252,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,56}}</string>
                <key>sourceSize</key>
                <string>{252,56}</string>
            </dict>
            <key>bar_process_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,1501},{250,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,54}}</string>
                <key>sourceSize</key>
                <string>{250,54}</string>
            </dict>
            <key>bar_thongtin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1923,1},{1298,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1298,98}}</string>
                <key>sourceSize</key>
                <string>{1298,98}</string>
            </dict>
            <key>bg.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1920,1078}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1920,1078}}</string>
                <key>sourceSize</key>
                <string>{1920,1078}</string>
            </dict>
            <key>bg_game_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{1476,1366},{396,174}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,174}}</string>
                <key>sourceSize</key>
                <string>{404,174}</string>
            </dict>
            <key>bottom_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1081},{1920,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1920,141}}</string>
                <key>sourceSize</key>
                <string>{1920,141}</string>
            </dict>
            <key>dot_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{1233,1501},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>dot_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,1501},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>ic_$.png</key>
            <dict>
                <key>frame</key>
                <string>{{1431,1501},{24,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,38}}</string>
                <key>sourceSize</key>
                <string>{24,38}</string>
            </dict>
            <key>ic_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,1501},{77,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,52}}</string>
                <key>sourceSize</key>
                <string>{77,52}</string>
            </dict>
            <key>ic_money.png</key>
            <dict>
                <key>frame</key>
                <string>{{1874,1409},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,42}}</string>
                <key>sourceSize</key>
                <string>{28,42}</string>
            </dict>
            <key>ic_taoban.png</key>
            <dict>
                <key>frame</key>
                <string>{{1923,1301},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>ic_tien.png</key>
            <dict>
                <key>frame</key>
                <string>{{1341,1501},{51,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{51,50}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>ic_timkiem.png</key>
            <dict>
                <key>frame</key>
                <string>{{1287,1501},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>text_box_nhapid.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,1501},{317,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,62}}</string>
                <key>sourceSize</key>
                <string>{317,62}</string>
            </dict>
            <key>title_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1366},{1473,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1473,133}}</string>
                <key>sourceSize</key>
                <string>{1473,133}</string>
            </dict>
            <key>top_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1224},{1920,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1920,140}}</string>
                <key>sourceSize</key>
                <string>{1920,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Bacay_Room.png</string>
            <key>size</key>
            <string>{2022,1564}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:281428cdee5ea175c17b538acf9b899f:6f95682d89407dadb44429ac75210aff:1d1f7521973cff4634b3db9fb669682a$</string>
            <key>textureFileName</key>
            <string>Bacay_Room.png</string>
        </dict>
    </dict>
</plist>
