<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>labai_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{150,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,201}}</string>
                <key>sourceSize</key>
                <string>{150,201}</string>
            </dict>
            <key>labai_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,0},{150,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,201}}</string>
                <key>sourceSize</key>
                <string>{150,201}</string>
            </dict>
            <key>labai_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,201},{151,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,200}}</string>
                <key>sourceSize</key>
                <string>{151,200}</string>
            </dict>
            <key>labai_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,201},{151,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,201}}</string>
                <key>sourceSize</key>
                <string>{151,201}</string>
            </dict>
            <key>labai_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,201},{151,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,201}}</string>
                <key>sourceSize</key>
                <string>{151,201}</string>
            </dict>
            <key>labai_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,201},{151,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,201}}</string>
                <key>sourceSize</key>
                <string>{151,201}</string>
            </dict>
            <key>labai_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,201},{151,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,200}}</string>
                <key>sourceSize</key>
                <string>{151,200}</string>
            </dict>
            <key>labai_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,201},{151,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,201}}</string>
                <key>sourceSize</key>
                <string>{151,201}</string>
            </dict>
            <key>labai_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,201},{151,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,201}}</string>
                <key>sourceSize</key>
                <string>{151,201}</string>
            </dict>
            <key>labai_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,201},{151,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,201}}</string>
                <key>sourceSize</key>
                <string>{151,201}</string>
            </dict>
            <key>labai_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,402},{151,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,200}}</string>
                <key>sourceSize</key>
                <string>{151,200}</string>
            </dict>
            <key>labai_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,402},{151,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,201}}</string>
                <key>sourceSize</key>
                <string>{151,201}</string>
            </dict>
            <key>labai_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,0},{150,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,200}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>labai_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,402},{151,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,201}}</string>
                <key>sourceSize</key>
                <string>{151,201}</string>
            </dict>
            <key>labai_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,402},{151,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,201}}</string>
                <key>sourceSize</key>
                <string>{151,201}</string>
            </dict>
            <key>labai_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,402},{151,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,200}}</string>
                <key>sourceSize</key>
                <string>{151,200}</string>
            </dict>
            <key>labai_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,402},{151,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,201}}</string>
                <key>sourceSize</key>
                <string>{151,201}</string>
            </dict>
            <key>labai_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,402},{151,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,201}}</string>
                <key>sourceSize</key>
                <string>{151,201}</string>
            </dict>
            <key>labai_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,402},{151,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,201}}</string>
                <key>sourceSize</key>
                <string>{151,201}</string>
            </dict>
            <key>labai_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,402},{151,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,200}}</string>
                <key>sourceSize</key>
                <string>{151,200}</string>
            </dict>
            <key>labai_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,603},{151,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,201}}</string>
                <key>sourceSize</key>
                <string>{151,201}</string>
            </dict>
            <key>labai_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,603},{151,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,201}}</string>
                <key>sourceSize</key>
                <string>{151,201}</string>
            </dict>
            <key>labai_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,603},{151,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,201}}</string>
                <key>sourceSize</key>
                <string>{151,201}</string>
            </dict>
            <key>labai_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,0},{150,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,197}}</string>
                <key>sourceSize</key>
                <string>{150,197}</string>
            </dict>
            <key>labai_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,603},{151,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,200}}</string>
                <key>sourceSize</key>
                <string>{151,200}</string>
            </dict>
            <key>labai_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,603},{151,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,201}}</string>
                <key>sourceSize</key>
                <string>{151,201}</string>
            </dict>
            <key>labai_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,603},{150,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,201}}</string>
                <key>sourceSize</key>
                <string>{150,201}</string>
            </dict>
            <key>labai_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,603},{150,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,201}}</string>
                <key>sourceSize</key>
                <string>{150,201}</string>
            </dict>
            <key>labai_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,603},{150,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,200}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>labai_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,603},{150,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,201}}</string>
                <key>sourceSize</key>
                <string>{150,201}</string>
            </dict>
            <key>labai_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,804},{150,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,201}}</string>
                <key>sourceSize</key>
                <string>{150,201}</string>
            </dict>
            <key>labai_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,804},{150,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,201}}</string>
                <key>sourceSize</key>
                <string>{150,201}</string>
            </dict>
            <key>labai_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,804},{150,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,200}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>labai_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,804},{150,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,201}}</string>
                <key>sourceSize</key>
                <string>{150,201}</string>
            </dict>
            <key>labai_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,0},{151,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,201}}</string>
                <key>sourceSize</key>
                <string>{151,201}</string>
            </dict>
            <key>labai_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,804},{150,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,201}}</string>
                <key>sourceSize</key>
                <string>{150,201}</string>
            </dict>
            <key>labai_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,804},{150,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,201}}</string>
                <key>sourceSize</key>
                <string>{150,201}</string>
            </dict>
            <key>labai_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,804},{150,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,200}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>labai_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,804},{150,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,201}}</string>
                <key>sourceSize</key>
                <string>{150,201}</string>
            </dict>
            <key>labai_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,804},{150,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,201}}</string>
                <key>sourceSize</key>
                <string>{150,201}</string>
            </dict>
            <key>labai_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1005},{150,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,201}}</string>
                <key>sourceSize</key>
                <string>{150,201}</string>
            </dict>
            <key>labai_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,1005},{150,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,200}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>labai_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1005},{150,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,201}}</string>
                <key>sourceSize</key>
                <string>{150,201}</string>
            </dict>
            <key>labai_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,1005},{150,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,201}}</string>
                <key>sourceSize</key>
                <string>{150,201}</string>
            </dict>
            <key>labai_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1005},{150,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,201}}</string>
                <key>sourceSize</key>
                <string>{150,201}</string>
            </dict>
            <key>labai_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,0},{151,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,201}}</string>
                <key>sourceSize</key>
                <string>{151,201}</string>
            </dict>
            <key>labai_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,1005},{150,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,200}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>labai_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,1005},{150,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,201}}</string>
                <key>sourceSize</key>
                <string>{150,201}</string>
            </dict>
            <key>labai_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,1005},{151,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,201}}</string>
                <key>sourceSize</key>
                <string>{151,201}</string>
            </dict>
            <key>labai_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,0},{151,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,200}}</string>
                <key>sourceSize</key>
                <string>{151,200}</string>
            </dict>
            <key>labai_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,0},{151,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,201}}</string>
                <key>sourceSize</key>
                <string>{151,201}</string>
            </dict>
            <key>labai_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,0},{151,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,201}}</string>
                <key>sourceSize</key>
                <string>{151,201}</string>
            </dict>
            <key>labai_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,201},{151,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,201}}</string>
                <key>sourceSize</key>
                <string>{151,201}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>card_new.png</string>
            <key>size</key>
            <string>{1359,1206}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9af4a963224c581eac17a726e90f7971:673f3dc9469860bceead3c428359dfc9:4c9867c5589f53c299e3639dbc619dc7$</string>
            <key>textureFileName</key>
            <string>card_new.png</string>
        </dict>
    </dict>
</plist>
