<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>labai_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{117,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,160}}</string>
                <key>sourceSize</key>
                <string>{117,160}</string>
            </dict>
            <key>labai_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,0},{117,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,160}}</string>
                <key>sourceSize</key>
                <string>{117,160}</string>
            </dict>
            <key>labai_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,161},{117,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,160}}</string>
                <key>sourceSize</key>
                <string>{117,160}</string>
            </dict>
            <key>labai_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,161},{116,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,160}}</string>
                <key>sourceSize</key>
                <string>{116,160}</string>
            </dict>
            <key>labai_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,161},{117,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,160}}</string>
                <key>sourceSize</key>
                <string>{117,160}</string>
            </dict>
            <key>labai_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,161},{117,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,160}}</string>
                <key>sourceSize</key>
                <string>{117,160}</string>
            </dict>
            <key>labai_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,161},{117,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,160}}</string>
                <key>sourceSize</key>
                <string>{117,160}</string>
            </dict>
            <key>labai_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,161},{116,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,160}}</string>
                <key>sourceSize</key>
                <string>{116,160}</string>
            </dict>
            <key>labai_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,161},{117,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,160}}</string>
                <key>sourceSize</key>
                <string>{117,160}</string>
            </dict>
            <key>labai_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,161},{117,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,160}}</string>
                <key>sourceSize</key>
                <string>{117,160}</string>
            </dict>
            <key>labai_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,322},{117,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,160}}</string>
                <key>sourceSize</key>
                <string>{117,160}</string>
            </dict>
            <key>labai_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,322},{116,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,160}}</string>
                <key>sourceSize</key>
                <string>{116,160}</string>
            </dict>
            <key>labai_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,0},{117,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,160}}</string>
                <key>sourceSize</key>
                <string>{117,160}</string>
            </dict>
            <key>labai_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,322},{116,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,160}}</string>
                <key>sourceSize</key>
                <string>{116,160}</string>
            </dict>
            <key>labai_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,322},{117,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,160}}</string>
                <key>sourceSize</key>
                <string>{117,160}</string>
            </dict>
            <key>labai_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,322},{117,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,160}}</string>
                <key>sourceSize</key>
                <string>{117,160}</string>
            </dict>
            <key>labai_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,322},{117,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,160}}</string>
                <key>sourceSize</key>
                <string>{117,160}</string>
            </dict>
            <key>labai_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,322},{117,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,160}}</string>
                <key>sourceSize</key>
                <string>{117,160}</string>
            </dict>
            <key>labai_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,322},{117,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,160}}</string>
                <key>sourceSize</key>
                <string>{117,160}</string>
            </dict>
            <key>labai_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,322},{117,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,160}}</string>
                <key>sourceSize</key>
                <string>{117,160}</string>
            </dict>
            <key>labai_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,483},{117,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,160}}</string>
                <key>sourceSize</key>
                <string>{117,160}</string>
            </dict>
            <key>labai_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,483},{117,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,160}}</string>
                <key>sourceSize</key>
                <string>{117,160}</string>
            </dict>
            <key>labai_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,483},{117,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,160}}</string>
                <key>sourceSize</key>
                <string>{117,160}</string>
            </dict>
            <key>labai_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,0},{116,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,160}}</string>
                <key>sourceSize</key>
                <string>{116,160}</string>
            </dict>
            <key>labai_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,483},{117,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,160}}</string>
                <key>sourceSize</key>
                <string>{117,160}</string>
            </dict>
            <key>labai_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,483},{117,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,160}}</string>
                <key>sourceSize</key>
                <string>{117,160}</string>
            </dict>
            <key>labai_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,483},{117,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,160}}</string>
                <key>sourceSize</key>
                <string>{117,160}</string>
            </dict>
            <key>labai_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,483},{117,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,160}}</string>
                <key>sourceSize</key>
                <string>{117,160}</string>
            </dict>
            <key>labai_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,483},{117,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,160}}</string>
                <key>sourceSize</key>
                <string>{117,160}</string>
            </dict>
            <key>labai_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,483},{117,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,160}}</string>
                <key>sourceSize</key>
                <string>{117,160}</string>
            </dict>
            <key>labai_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,644},{117,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,160}}</string>
                <key>sourceSize</key>
                <string>{117,160}</string>
            </dict>
            <key>labai_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,644},{117,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,160}}</string>
                <key>sourceSize</key>
                <string>{117,160}</string>
            </dict>
            <key>labai_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,644},{117,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,160}}</string>
                <key>sourceSize</key>
                <string>{117,160}</string>
            </dict>
            <key>labai_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,644},{117,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,160}}</string>
                <key>sourceSize</key>
                <string>{117,160}</string>
            </dict>
            <key>labai_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,0},{117,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,160}}</string>
                <key>sourceSize</key>
                <string>{117,160}</string>
            </dict>
            <key>labai_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,644},{117,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,161}}</string>
                <key>sourceSize</key>
                <string>{117,161}</string>
            </dict>
            <key>labai_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,644},{117,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,161}}</string>
                <key>sourceSize</key>
                <string>{117,161}</string>
            </dict>
            <key>labai_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,644},{117,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,161}}</string>
                <key>sourceSize</key>
                <string>{117,161}</string>
            </dict>
            <key>labai_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,644},{117,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,161}}</string>
                <key>sourceSize</key>
                <string>{117,161}</string>
            </dict>
            <key>labai_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,644},{117,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,160}}</string>
                <key>sourceSize</key>
                <string>{117,160}</string>
            </dict>
            <key>labai_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,805},{117,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,160}}</string>
                <key>sourceSize</key>
                <string>{117,160}</string>
            </dict>
            <key>labai_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,805},{117,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,160}}</string>
                <key>sourceSize</key>
                <string>{117,160}</string>
            </dict>
            <key>labai_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,805},{116,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,160}}</string>
                <key>sourceSize</key>
                <string>{116,160}</string>
            </dict>
            <key>labai_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,805},{117,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,160}}</string>
                <key>sourceSize</key>
                <string>{117,160}</string>
            </dict>
            <key>labai_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,805},{117,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,160}}</string>
                <key>sourceSize</key>
                <string>{117,160}</string>
            </dict>
            <key>labai_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,0},{116,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,160}}</string>
                <key>sourceSize</key>
                <string>{116,160}</string>
            </dict>
            <key>labai_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,805},{117,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,161}}</string>
                <key>sourceSize</key>
                <string>{117,161}</string>
            </dict>
            <key>labai_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,805},{116,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,160}}</string>
                <key>sourceSize</key>
                <string>{116,160}</string>
            </dict>
            <key>labai_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,805},{116,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,159}}</string>
                <key>sourceSize</key>
                <string>{116,159}</string>
            </dict>
            <key>labai_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,0},{116,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,160}}</string>
                <key>sourceSize</key>
                <string>{116,160}</string>
            </dict>
            <key>labai_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,0},{116,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,160}}</string>
                <key>sourceSize</key>
                <string>{116,160}</string>
            </dict>
            <key>labai_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,0},{117,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,160}}</string>
                <key>sourceSize</key>
                <string>{117,160}</string>
            </dict>
            <key>labai_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,161},{117,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,160}}</string>
                <key>sourceSize</key>
                <string>{117,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>card.png</string>
            <key>size</key>
            <string>{1053,966}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5beff74da202f889a095997dd626f674:9252b8614271676c9dc69ae2880b3360:ac15c2787776c146127be3982bd2a622$</string>
            <key>textureFileName</key>
            <string>card.png</string>
        </dict>
    </dict>
</plist>
