<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{60,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,65}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,0},{60,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,65}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>100.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,0},{60,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,65}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>1000.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,0},{60,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,65}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,0},{60,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,65}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>100000.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,0},{60,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,65}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>1000000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,0},{60,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,65}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>10000000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,0},{60,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,65}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>100000000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,0},{60,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,65}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,0},{60,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,65}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,0},{60,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,65}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>200.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,0},{60,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,65}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>2000.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,0},{60,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,65}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,0},{60,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,65}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>200000.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,0},{60,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,65}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>2000000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,0},{60,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,65}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>20000000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,0},{60,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,65}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>200000000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,0},{60,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,65}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,0},{60,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,65}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>50.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,0},{60,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,65}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>500.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,0},{60,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,65}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>5000.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,0},{60,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,65}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>50000.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,0},{60,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,65}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>500000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,0},{60,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,65}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>5000000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,0},{60,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,65}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>50000000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1380,0},{60,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,65}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>500000000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,0},{60,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,65}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>chips_new.png</string>
            <key>size</key>
            <string>{1620,65}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9baf6b67f74ad75c4ea14fc3f46df3c7:20de8fafe2b112245e48c6ee67d40583:a389221da4c61a10d2e9045cd2a4233e$</string>
            <key>textureFileName</key>
            <string>chips_new.png</string>
        </dict>
    </dict>
</plist>
