<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ban_xocdia.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,723},{1081,628}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1081,628}}</string>
                <key>sourceSize</key>
                <string>{1081,630}</string>
            </dict>
            <key>bat.png</key>
            <dict>
                <key>frame</key>
                <string>{{1493,989},{238,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,223}}</string>
                <key>sourceSize</key>
                <string>{238,223}</string>
            </dict>
            <key>bat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1283,618},{114,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,101}}</string>
                <key>sourceSize</key>
                <string>{114,101}</string>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>bg_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{1479,1667},{247,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,34}}</string>
                <key>sourceSize</key>
                <string>{247,34}</string>
            </dict>
            <key>bkg_MessRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,946},{90,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,41}}</string>
                <key>sourceSize</key>
                <string>{90,41}</string>
            </dict>
            <key>btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,853},{91,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,70}}</string>
                <key>sourceSize</key>
                <string>{91,70}</string>
            </dict>
            <key>chip_100k.png</key>
            <dict>
                <key>frame</key>
                <string>{{1443,1703},{155,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,157}}</string>
                <key>sourceSize</key>
                <string>{155,157}</string>
            </dict>
            <key>chip_10k.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,1860},{155,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,157}}</string>
                <key>sourceSize</key>
                <string>{155,157}</string>
            </dict>
            <key>chip_1k.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,1814},{155,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,155}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>chip_1m.png</key>
            <dict>
                <key>frame</key>
                <string>{{1175,1859},{155,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,155}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>chip_5k.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,1860},{155,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,155}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>dia.png</key>
            <dict>
                <key>frame</key>
                <string>{{1193,1176},{298,290}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,24},{298,290}}</string>
                <key>sourceSize</key>
                <string>{324,334}</string>
            </dict>
            <key>dia1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,1703},{150,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,116}}</string>
                <key>sourceSize</key>
                <string>{150,116}</string>
            </dict>
            <key>dot_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1157,1444},{30,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,34}}</string>
                <key>sourceSize</key>
                <string>{30,34}</string>
            </dict>
            <key>dot_red_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,1969},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>dot_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,1748},{30,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{30,32}</string>
            </dict>
            <key>dot_white_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,1748},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>frame_chip.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1353},{936,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{936,125}}</string>
                <key>sourceSize</key>
                <string>{936,125}</string>
            </dict>
            <key>frame_cuoc_small_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,1480},{266,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,205}}</string>
                <key>sourceSize</key>
                <string>{266,205}</string>
            </dict>
            <key>frame_cuoc_small_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1493,1214},{266,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,205}}</string>
                <key>sourceSize</key>
                <string>{266,205}</string>
            </dict>
            <key>frame_cuoc_small_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,1476},{266,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,205}}</string>
                <key>sourceSize</key>
                <string>{266,205}</string>
            </dict>
            <key>frame_cuoc_small_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1211,1468},{266,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,205}}</string>
                <key>sourceSize</key>
                <string>{266,205}</string>
            </dict>
            <key>frame_datcuoc_chan.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,1754},{468,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{468,272}}</string>
                <key>sourceSize</key>
                <string>{468,272}</string>
            </dict>
            <key>frame_datcuoc_le.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,1480},{469,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{469,272}}</string>
                <key>sourceSize</key>
                <string>{469,272}</string>
            </dict>
            <key>frame_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1211,1675},{182,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,230}}</string>
                <key>sourceSize</key>
                <string>{182,230}</string>
            </dict>
            <key>frame_muachan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1283,1},{615,341}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,10},{615,341}}</string>
                <key>sourceSize</key>
                <string>{645,351}</string>
            </dict>
            <key>frame_muale.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1480},{323,535}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{323,535}}</string>
                <key>sourceSize</key>
                <string>{327,539}</string>
            </dict>
            <key>frame_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{1635,1},{244,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,96}}</string>
                <key>sourceSize</key>
                <string>{244,96}</string>
            </dict>
            <key>frame_soicau.png</key>
            <dict>
                <key>frame</key>
                <string>{{1449,618},{369,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,183}}</string>
                <key>sourceSize</key>
                <string>{369,183}</string>
            </dict>
            <key>ic_caidat.png</key>
            <dict>
                <key>frame</key>
                <string>{{1635,247},{174,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,71}}</string>
                <key>sourceSize</key>
                <string>{174,71}</string>
            </dict>
            <key>ic_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,1353},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>ic_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,1859},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>ic_huongdan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,534},{206,68}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,68}}</string>
                <key>sourceSize</key>
                <string>{212,68}</string>
            </dict>
            <key>ic_lichsu.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,1859},{172,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,63}}</string>
                <key>sourceSize</key>
                <string>{172,63}</string>
            </dict>
            <key>ic_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,1748},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>ic_sangphai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1626,423},{66,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,109}}</string>
                <key>sourceSize</key>
                <string>{66,109}</string>
            </dict>
            <key>ic_sangtrai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,742},{66,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,109}}</string>
                <key>sourceSize</key>
                <string>{66,109}</string>
            </dict>
            <key>ic_users.png</key>
            <dict>
                <key>frame</key>
                <string>{{1599,1860},{131,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,130}}</string>
                <key>sourceSize</key>
                <string>{131,130}</string>
            </dict>
            <key>ic_vinhdanh.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,1744},{205,68}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,68}}</string>
                <key>sourceSize</key>
                <string>{215,68}</string>
            </dict>
            <key>line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1626,1},{393,7}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,7}}</string>
                <key>sourceSize</key>
                <string>{395,7}</string>
            </dict>
            <key>load_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{1157,723},{719,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{719,34}}</string>
                <key>sourceSize</key>
                <string>{719,34}</string>
            </dict>
            <key>load_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,723},{751,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{751,71}}</string>
                <key>sourceSize</key>
                <string>{751,71}</string>
            </dict>
            <key>loading_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{1700,1214},{235,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,22}}</string>
                <key>sourceSize</key>
                <string>{235,22}</string>
            </dict>
            <key>winline1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1479,1482},{244,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,183}}</string>
                <key>sourceSize</key>
                <string>{244,183}</string>
            </dict>
            <key>winline2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1193,723},{451,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{451,254}}</string>
                <key>sourceSize</key>
                <string>{451,254}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>XocDia_InGame.png</string>
            <key>size</key>
            <string>{1732,2032}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18d429226ea4b195f21a5bba3b093081:d2e5c07bdf11a4b882722400e83efc3a:3b6d2ffa95e5c3abd386912ffa2739d0$</string>
            <key>textureFileName</key>
            <string>XocDia_InGame.png</string>
        </dict>
    </dict>
</plist>
