<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1920,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1920,1080}}</string>
                <key>sourceSize</key>
                <string>{1920,1080}</string>
            </dict>
            <key>frame_soluot.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,1083},{354,132}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{354,132}}</string>
                <key>sourceSize</key>
                <string>{354,136}</string>
            </dict>
            <key>frame_thang.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,1083},{354,126}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{354,126}}</string>
                <key>sourceSize</key>
                <string>{354,136}</string>
            </dict>
            <key>frame_thongbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1083},{733,469}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{733,469}}</string>
                <key>sourceSize</key>
                <string>{735,477}</string>
            </dict>
            <key>frame_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,1439},{227,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,62}}</string>
                <key>sourceSize</key>
                <string>{227,62}</string>
            </dict>
            <key>labai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,1323},{184,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,184}}</string>
                <key>sourceSize</key>
                <string>{184,184}</string>
            </dict>
            <key>labai_lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,1083},{184,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,184}}</string>
                <key>sourceSize</key>
                <string>{184,184}</string>
            </dict>
            <key>labai_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,1269},{184,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,184}}</string>
                <key>sourceSize</key>
                <string>{184,184}</string>
            </dict>
            <key>miss.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,1503},{123,45}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{123,45}}</string>
                <key>sourceSize</key>
                <string>{129,49}</string>
            </dict>
            <key>title_thongbao_vi.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,1083},{238,52}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{238,52}}</string>
                <key>sourceSize</key>
                <string>{258,52}</string>
            </dict>
            <key>win.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,1439},{110,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{110,47}}</string>
                <key>sourceSize</key>
                <string>{118,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_bonus.png</string>
            <key>size</key>
            <string>{1922,1553}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b32117cfe57bbecb6cd4e60f87682453:4827b83c253817a181e42c6fd4ec9deb:17b5dc6f2092a241e079432522597381$</string>
            <key>textureFileName</key>
            <string>ui_bonus.png</string>
        </dict>
    </dict>
</plist>
