<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Group 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,1},{1318,775}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1318,775}}</string>
                <key>sourceSize</key>
                <string>{1318,775}</string>
            </dict>
            <key>Layer 175 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1427,1844},{198,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,46}}</string>
                <key>sourceSize</key>
                <string>{198,46}</string>
            </dict>
            <key>Layer 177.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,1844},{59,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,47}}</string>
                <key>sourceSize</key>
                <string>{59,47}</string>
            </dict>
            <key>Layer 179.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,1329},{543,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,110}}</string>
                <key>sourceSize</key>
                <string>{543,110}</string>
            </dict>
            <key>ava.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,1724},{171,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,172}}</string>
                <key>sourceSize</key>
                <string>{171,172}</string>
            </dict>
            <key>avaboder.png</key>
            <dict>
                <key>frame</key>
                <string>{{1201,1724},{163,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,163}}</string>
                <key>sourceSize</key>
                <string>{163,163}</string>
            </dict>
            <key>bg_Noti.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,1321},{235,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,82}}</string>
                <key>sourceSize</key>
                <string>{235,82}</string>
            </dict>
            <key>bg_info_player.png</key>
            <dict>
                <key>frame</key>
                <string>{{1486,1321},{205,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,63}}</string>
                <key>sourceSize</key>
                <string>{205,63}</string>
            </dict>
            <key>bg_item_result.png</key>
            <dict>
                <key>frame</key>
                <string>{{1693,1},{1198,130}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{1198,130}}</string>
                <key>sourceSize</key>
                <string>{1216,130}</string>
            </dict>
            <key>bg_table.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1895,913}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1895,913}}</string>
                <key>sourceSize</key>
                <string>{1895,913}</string>
            </dict>
            <key>btn_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,1724},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>btn_infomation.png</key>
            <dict>
                <key>frame</key>
                <string>{{1693,1329},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,1558},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>ic_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1693,1201},{128,126}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,126}}</string>
                <key>sourceSize</key>
                <string>{130,126}</string>
            </dict>
            <key>ic_backGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,1642},{75,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{75,76}}</string>
                <key>sourceSize</key>
                <string>{79,78}</string>
            </dict>
            <key>ic_chu_ban.png</key>
            <dict>
                <key>frame</key>
                <string>{{1471,1682},{38,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,33}}</string>
                <key>sourceSize</key>
                <string>{38,33}</string>
            </dict>
            <key>ic_dongho.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,1329},{364,393}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,393}}</string>
                <key>sourceSize</key>
                <string>{364,405}</string>
            </dict>
            <key>ic_send.png</key>
            <dict>
                <key>frame</key>
                <string>{{1471,1642},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>line.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,1321},{2,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,113}}</string>
                <key>sourceSize</key>
                <string>{2,113}</string>
            </dict>
            <key>text_lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{1627,1429},{58,35}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{58,35}}</string>
                <key>sourceSize</key>
                <string>{94,35}</string>
            </dict>
            <key>txt_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{1627,1386},{62,41}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,2},{62,41}}</string>
                <key>sourceSize</key>
                <string>{120,43}</string>
            </dict>
            <key>xep.png</key>
            <dict>
                <key>frame</key>
                <string>{{1627,1466},{174,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,175}}</string>
                <key>sourceSize</key>
                <string>{174,175}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tienlen_ingame.png</string>
            <key>size</key>
            <string>{1824,1897}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a5f46c82fcc6d79557f5bd8cf18ed515:470be8642cd81ba96f1b2628175f0498:29767a933d36576a3e7daca017eb718c$</string>
            <key>textureFileName</key>
            <string>tienlen_ingame.png</string>
        </dict>
    </dict>
</plist>
