<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>labai_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{148,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,198}}</string>
                <key>sourceSize</key>
                <string>{148,198}</string>
            </dict>
            <key>labai_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,0},{148,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,198}}</string>
                <key>sourceSize</key>
                <string>{148,198}</string>
            </dict>
            <key>labai_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,0},{148,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,198}}</string>
                <key>sourceSize</key>
                <string>{148,198}</string>
            </dict>
            <key>labai_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,0},{148,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,198}}</string>
                <key>sourceSize</key>
                <string>{148,198}</string>
            </dict>
            <key>labai_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,0},{148,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,198}}</string>
                <key>sourceSize</key>
                <string>{148,198}</string>
            </dict>
            <key>labai_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,0},{148,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,198}}</string>
                <key>sourceSize</key>
                <string>{148,198}</string>
            </dict>
            <key>labai_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,0},{148,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,198}}</string>
                <key>sourceSize</key>
                <string>{148,198}</string>
            </dict>
            <key>labai_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,0},{148,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,198}}</string>
                <key>sourceSize</key>
                <string>{148,198}</string>
            </dict>
            <key>labai_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,0},{148,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,198}}</string>
                <key>sourceSize</key>
                <string>{148,198}</string>
            </dict>
            <key>labai_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,198},{148,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,198}}</string>
                <key>sourceSize</key>
                <string>{148,198}</string>
            </dict>
            <key>labai_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,198},{148,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,198}}</string>
                <key>sourceSize</key>
                <string>{148,198}</string>
            </dict>
            <key>labai_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,198},{148,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,198}}</string>
                <key>sourceSize</key>
                <string>{148,198}</string>
            </dict>
            <key>labai_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,198},{148,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,198}}</string>
                <key>sourceSize</key>
                <string>{148,198}</string>
            </dict>
            <key>labai_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,198},{148,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,198}}</string>
                <key>sourceSize</key>
                <string>{148,198}</string>
            </dict>
            <key>labai_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,198},{148,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,198}}</string>
                <key>sourceSize</key>
                <string>{148,198}</string>
            </dict>
            <key>labai_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,198},{148,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,198}}</string>
                <key>sourceSize</key>
                <string>{148,198}</string>
            </dict>
            <key>labai_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,198},{148,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,198}}</string>
                <key>sourceSize</key>
                <string>{148,198}</string>
            </dict>
            <key>labai_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,198},{148,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,198}}</string>
                <key>sourceSize</key>
                <string>{148,198}</string>
            </dict>
            <key>labai_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,396},{148,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,198}}</string>
                <key>sourceSize</key>
                <string>{148,198}</string>
            </dict>
            <key>labai_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,396},{148,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,198}}</string>
                <key>sourceSize</key>
                <string>{148,198}</string>
            </dict>
            <key>labai_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,396},{148,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,198}}</string>
                <key>sourceSize</key>
                <string>{148,198}</string>
            </dict>
            <key>labai_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,396},{148,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,198}}</string>
                <key>sourceSize</key>
                <string>{148,198}</string>
            </dict>
            <key>labai_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,396},{148,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,198}}</string>
                <key>sourceSize</key>
                <string>{148,198}</string>
            </dict>
            <key>labai_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,396},{148,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,198}}</string>
                <key>sourceSize</key>
                <string>{148,198}</string>
            </dict>
            <key>labai_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,396},{148,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,198}}</string>
                <key>sourceSize</key>
                <string>{148,198}</string>
            </dict>
            <key>labai_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,396},{148,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,198}}</string>
                <key>sourceSize</key>
                <string>{148,198}</string>
            </dict>
            <key>labai_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,396},{148,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,198}}</string>
                <key>sourceSize</key>
                <string>{148,198}</string>
            </dict>
            <key>labai_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,594},{148,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,198}}</string>
                <key>sourceSize</key>
                <string>{148,198}</string>
            </dict>
            <key>labai_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,594},{148,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,198}}</string>
                <key>sourceSize</key>
                <string>{148,198}</string>
            </dict>
            <key>labai_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,594},{148,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,198}}</string>
                <key>sourceSize</key>
                <string>{148,198}</string>
            </dict>
            <key>labai_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,594},{148,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,198}}</string>
                <key>sourceSize</key>
                <string>{148,198}</string>
            </dict>
            <key>labai_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,594},{148,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,198}}</string>
                <key>sourceSize</key>
                <string>{148,198}</string>
            </dict>
            <key>labai_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,594},{148,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,198}}</string>
                <key>sourceSize</key>
                <string>{148,198}</string>
            </dict>
            <key>labai_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,594},{148,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,198}}</string>
                <key>sourceSize</key>
                <string>{148,198}</string>
            </dict>
            <key>labai_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,594},{148,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,198}}</string>
                <key>sourceSize</key>
                <string>{148,198}</string>
            </dict>
            <key>labai_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,594},{148,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,198}}</string>
                <key>sourceSize</key>
                <string>{148,198}</string>
            </dict>
            <key>labai_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,792},{148,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,198}}</string>
                <key>sourceSize</key>
                <string>{148,198}</string>
            </dict>
            <key>labai_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,792},{148,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,198}}</string>
                <key>sourceSize</key>
                <string>{148,198}</string>
            </dict>
            <key>labai_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,792},{148,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,198}}</string>
                <key>sourceSize</key>
                <string>{148,198}</string>
            </dict>
            <key>labai_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,792},{148,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,198}}</string>
                <key>sourceSize</key>
                <string>{148,198}</string>
            </dict>
            <key>labai_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,792},{148,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,198}}</string>
                <key>sourceSize</key>
                <string>{148,198}</string>
            </dict>
            <key>labai_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,792},{148,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,198}}</string>
                <key>sourceSize</key>
                <string>{148,198}</string>
            </dict>
            <key>labai_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,792},{148,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,198}}</string>
                <key>sourceSize</key>
                <string>{148,198}</string>
            </dict>
            <key>labai_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,792},{148,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,198}}</string>
                <key>sourceSize</key>
                <string>{148,198}</string>
            </dict>
            <key>labai_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,792},{148,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,198}}</string>
                <key>sourceSize</key>
                <string>{148,198}</string>
            </dict>
            <key>labai_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,990},{148,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,198}}</string>
                <key>sourceSize</key>
                <string>{148,198}</string>
            </dict>
            <key>labai_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,990},{148,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,198}}</string>
                <key>sourceSize</key>
                <string>{148,198}</string>
            </dict>
            <key>labai_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,990},{148,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,198}}</string>
                <key>sourceSize</key>
                <string>{148,198}</string>
            </dict>
            <key>labai_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,990},{148,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,198}}</string>
                <key>sourceSize</key>
                <string>{148,198}</string>
            </dict>
            <key>labai_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,990},{148,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,198}}</string>
                <key>sourceSize</key>
                <string>{148,198}</string>
            </dict>
            <key>labai_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,990},{148,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,198}}</string>
                <key>sourceSize</key>
                <string>{148,198}</string>
            </dict>
            <key>labai_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,990},{148,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,198}}</string>
                <key>sourceSize</key>
                <string>{148,198}</string>
            </dict>
            <key>labai_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,990},{148,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,198}}</string>
                <key>sourceSize</key>
                <string>{148,198}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cards.png</string>
            <key>size</key>
            <string>{1332,1188}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2500f57c2df0b18ca1770795e0bcddb:ef2f348726e58c7a6d86ef5b5beb26bc:fc86278e5045194fe7638df41a1aa4f3$</string>
            <key>textureFileName</key>
            <string>cards.png</string>
        </dict>
    </dict>
</plist>
