<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,466},{177,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{177,140}}</string>
                <key>sourceSize</key>
                <string>{179,140}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{177,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,143}}</string>
                <key>sourceSize</key>
                <string>{177,143}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,686},{177,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,138}}</string>
                <key>sourceSize</key>
                <string>{177,138}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,889},{178,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,135}}</string>
                <key>sourceSize</key>
                <string>{178,135}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,896},{178,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,136}}</string>
                <key>sourceSize</key>
                <string>{178,136}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,716},{178,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,137}}</string>
                <key>sourceSize</key>
                <string>{178,137}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,608},{178,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,139}}</string>
                <key>sourceSize</key>
                <string>{178,139}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,1},{178,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,141}}</string>
                <key>sourceSize</key>
                <string>{178,141}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,324},{178,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,140}}</string>
                <key>sourceSize</key>
                <string>{178,140}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,290},{177,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,141}}</string>
                <key>sourceSize</key>
                <string>{177,141}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,181},{177,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,141}}</string>
                <key>sourceSize</key>
                <string>{177,141}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,327},{178,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,140}}</string>
                <key>sourceSize</key>
                <string>{178,140}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,146},{177,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,142}}</string>
                <key>sourceSize</key>
                <string>{177,142}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,146},{179,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,140}}</string>
                <key>sourceSize</key>
                <string>{179,140}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,433},{177,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{177,140}}</string>
                <key>sourceSize</key>
                <string>{179,140}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1},{177,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{177,143}}</string>
                <key>sourceSize</key>
                <string>{179,143}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,507},{177,140}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{177,140}}</string>
                <key>sourceSize</key>
                <string>{179,150}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,575},{177,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,139}}</string>
                <key>sourceSize</key>
                <string>{177,139}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,749},{177,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,138}}</string>
                <key>sourceSize</key>
                <string>{177,138}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,865},{176,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{176,138}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>btn_bochon.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,1005},{290,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,80}}</string>
                <key>sourceSize</key>
                <string>{290,80}</string>
            </dict>
            <key>btn_bochon_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1450},{260,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,79}}</string>
                <key>sourceSize</key>
                <string>{260,79}</string>
            </dict>
            <key>btn_chonchan.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,1005},{290,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,80}}</string>
                <key>sourceSize</key>
                <string>{290,80}</string>
            </dict>
            <key>btn_chonchan_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,1026},{260,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,79}}</string>
                <key>sourceSize</key>
                <string>{260,79}</string>
            </dict>
            <key>btn_chonle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1076},{290,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,80}}</string>
                <key>sourceSize</key>
                <string>{290,80}</string>
            </dict>
            <key>btn_chonle_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1026},{260,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,79}}</string>
                <key>sourceSize</key>
                <string>{260,79}</string>
            </dict>
            <key>btn_tatca.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1368},{290,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,80}}</string>
                <key>sourceSize</key>
                <string>{290,80}</string>
            </dict>
            <key>btn_tatca_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,1288},{258,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{258,79}}</string>
                <key>sourceSize</key>
                <string>{260,79}</string>
            </dict>
            <key>title.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,1297},{290,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{290,56}}</string>
                <key>sourceSize</key>
                <string>{290,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_chondong.png</string>
            <key>size</key>
            <string>{501,1547}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:97c2bc180a34299dab80aa8e964c88ff:2a0b4585cd7ead527bde0ec0dd370a3e:a12aa8e6159fe115d545f65b5cc66937$</string>
            <key>textureFileName</key>
            <string>ui_chondong.png</string>
        </dict>
    </dict>
</plist>
