<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,81}</string>
                <key>spriteSourceSize</key>
                <string>{81,81}</string>
                <key>textureRect</key>
                <string>{{268,666},{81,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_back_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,79}</string>
                <key>spriteSourceSize</key>
                <string>{79,79}</string>
                <key>textureRect</key>
                <string>{{475,750},{79,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_back_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{560,738},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_chat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,79}</string>
                <key>spriteSourceSize</key>
                <string>{79,79}</string>
                <key>textureRect</key>
                <string>{{550,653},{79,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_chat_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,101}</string>
                <key>spriteSourceSize</key>
                <string>{97,101}</string>
                <key>textureRect</key>
                <string>{{668,738},{97,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_emo_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,101}</string>
                <key>spriteSourceSize</key>
                <string>{96,101}</string>
                <key>textureRect</key>
                <string>{{771,738},{96,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_menu_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,79}</string>
                <key>spriteSourceSize</key>
                <string>{79,79}</string>
                <key>textureRect</key>
                <string>{{635,653},{79,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_setting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,81}</string>
                <key>spriteSourceSize</key>
                <string>{81,81}</string>
                <key>textureRect</key>
                <string>{{355,666},{81,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_setting_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,69}</string>
                <key>spriteSourceSize</key>
                <string>{69,69}</string>
                <key>textureRect</key>
                <string>{{791,653},{69,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_tip_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,79}</string>
                <key>spriteSourceSize</key>
                <string>{65,79}</string>
                <key>textureRect</key>
                <string>{{720,653},{65,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_highlight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,129}</string>
                <key>spriteSourceSize</key>
                <string>{95,129}</string>
                <key>textureRect</key>
                <string>{{268,531},{95,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chipbet/chip_bet_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{116,116}</string>
                <key>textureRect</key>
                <string>{{5,754},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chipbet/chip_bet_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{116,116}</string>
                <key>textureRect</key>
                <string>{{99,754},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chipbet/chip_bet_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{116,116}</string>
                <key>textureRect</key>
                <string>{{193,754},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chipbet/chip_bet_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{116,116}</string>
                <key>textureRect</key>
                <string>{{287,753},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chipbet/chip_bet_1b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,116}</string>
                <key>spriteSourceSize</key>
                <string>{116,116}</string>
                <key>textureRect</key>
                <string>{{495,531},{116,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chipbet/chip_bet_2b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,116}</string>
                <key>spriteSourceSize</key>
                <string>{116,116}</string>
                <key>textureRect</key>
                <string>{{617,531},{116,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chipbet/chip_bet_3b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,116}</string>
                <key>spriteSourceSize</key>
                <string>{116,116}</string>
                <key>textureRect</key>
                <string>{{739,531},{116,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chipbet/chip_bet_4b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,116}</string>
                <key>spriteSourceSize</key>
                <string>{116,116}</string>
                <key>textureRect</key>
                <string>{{861,531},{116,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chipbet/chip_bet_5a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{116,116}</string>
                <key>textureRect</key>
                <string>{{381,753},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chipbet/chip_bet_5b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,116}</string>
                <key>spriteSourceSize</key>
                <string>{116,116}</string>
                <key>textureRect</key>
                <string>{{873,653},{116,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clock/clock_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,102}</string>
                <key>spriteSourceSize</key>
                <string>{87,102}</string>
                <key>textureRect</key>
                <string>{{442,657},{87,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clock/clock_2-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,26}</string>
                <key>spriteSourceSize</key>
                <string>{35,26}</string>
                <key>textureRect</key>
                <string>{{983,573},{35,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clock/clock_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,28}</string>
                <key>spriteSourceSize</key>
                <string>{36,28}</string>
                <key>textureRect</key>
                <string>{{983,531},{36,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>exit_table.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{933,775},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamename/borkkdeng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{743,257}</string>
                <key>spriteSourceSize</key>
                <string>{743,257}</string>
                <key>textureRect</key>
                <string>{{5,5},{743,257}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gamename/maubinh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{742,257}</string>
                <key>spriteSourceSize</key>
                <string>{742,257}</string>
                <key>textureRect</key>
                <string>{{268,268},{742,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamename/tienlen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{743,257}</string>
                <key>spriteSourceSize</key>
                <string>{743,257}</string>
                <key>textureRect</key>
                <string>{{268,5},{743,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_invite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{873,775},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>progress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{124,124}</string>
                <key>textureRect</key>
                <string>{{369,531},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cardGames.png</string>
            <key>size</key>
            <string>{1016,847}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4240b4558843481d6667b2c985bc4702:21ed1545cff6e3ed96f690aa5fd4872b:59ee3b0aeafcad71e633d848f59d8fcd$</string>
            <key>textureFileName</key>
            <string>cardGames.png</string>
        </dict>
    </dict>
</plist>
