<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>alert/Alert1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,74}</string>
                <key>spriteSourceSize</key>
                <string>{318,74}</string>
                <key>textureRect</key>
                <string>{{356,577},{318,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alert/Alert2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,74}</string>
                <key>spriteSourceSize</key>
                <string>{327,74}</string>
                <key>textureRect</key>
                <string>{{23,573},{327,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alert/Alert3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{326,75}</string>
                <key>spriteSourceSize</key>
                <string>{326,75}</string>
                <key>textureRect</key>
                <string>{{23,653},{326,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arrow_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,92}</string>
                <key>spriteSourceSize</key>
                <string>{185,92}</string>
                <key>textureRect</key>
                <string>{{663,365},{185,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>banker_big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,133}</string>
                <key>spriteSourceSize</key>
                <string>{134,133}</string>
                <key>textureRect</key>
                <string>{{879,5},{134,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_banker_win.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{652,72}</string>
                <key>spriteSourceSize</key>
                <string>{652,72}</string>
                <key>textureRect</key>
                <string>{{5,291},{652,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_bet_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,33}</string>
                <key>spriteSourceSize</key>
                <string>{128,33}</string>
                <key>textureRect</key>
                <string>{{565,985},{128,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_bet_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,25}</string>
                <key>spriteSourceSize</key>
                <string>{102,25}</string>
                <key>textureRect</key>
                <string>{{23,993},{102,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_clock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,175}</string>
                <key>spriteSourceSize</key>
                <string>{153,175}</string>
                <key>textureRect</key>
                <string>{{675,129},{153,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_common.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{421,110}</string>
                <key>spriteSourceSize</key>
                <string>{421,110}</string>
                <key>textureRect</key>
                <string>{{5,369},{421,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_jackpot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,71}</string>
                <key>spriteSourceSize</key>
                <string>{174,71}</string>
                <key>textureRect</key>
                <string>{{675,288},{174,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_point_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,57}</string>
                <key>spriteSourceSize</key>
                <string>{166,57}</string>
                <key>textureRect</key>
                <string>{{221,961},{166,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_point_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,57}</string>
                <key>spriteSourceSize</key>
                <string>{166,57}</string>
                <key>textureRect</key>
                <string>{{393,961},{166,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_pot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,44}</string>
                <key>spriteSourceSize</key>
                <string>{327,44}</string>
                <key>textureRect</key>
                <string>{{355,730},{327,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_user_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,114}</string>
                <key>spriteSourceSize</key>
                <string>{216,114}</string>
                <key>textureRect</key>
                <string>{{432,369},{216,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_user_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,98}</string>
                <key>spriteSourceSize</key>
                <string>{160,98}</string>
                <key>textureRect</key>
                <string>{{856,144},{160,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_allin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,97}</string>
                <key>spriteSourceSize</key>
                <string>{218,97}</string>
                <key>textureRect</key>
                <string>{{234,734},{218,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_chat_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,47}</string>
                <key>spriteSourceSize</key>
                <string>{47,47}</string>
                <key>textureRect</key>
                <string>{{915,874},{47,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_compare.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,96}</string>
                <key>spriteSourceSize</key>
                <string>{220,96}</string>
                <key>textureRect</key>
                <string>{{337,780},{220,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_draw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,96}</string>
                <key>spriteSourceSize</key>
                <string>{218,96}</string>
                <key>textureRect</key>
                <string>{{563,780},{218,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_notdraw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,97}</string>
                <key>spriteSourceSize</key>
                <string>{218,97}</string>
                <key>textureRect</key>
                <string>{{575,882},{218,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,97}</string>
                <key>spriteSourceSize</key>
                <string>{218,97}</string>
                <key>textureRect</key>
                <string>{{668,463},{218,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_rebet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,97}</string>
                <key>spriteSourceSize</key>
                <string>{218,97}</string>
                <key>textureRect</key>
                <string>{{688,643},{218,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chip_bet_big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{688,746},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,191}</string>
                <key>spriteSourceSize</key>
                <string>{205,191}</string>
                <key>textureRect</key>
                <string>{{23,734},{205,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_..._02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,38}</string>
                <key>spriteSourceSize</key>
                <string>{48,38}</string>
                <key>textureRect</key>
                <string>{{971,443},{48,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ic_..._02_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,38}</string>
                <key>spriteSourceSize</key>
                <string>{48,38}</string>
                <key>textureRect</key>
                <string>{{968,926},{48,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_..._02_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,38}</string>
                <key>spriteSourceSize</key>
                <string>{48,38}</string>
                <key>textureRect</key>
                <string>{{904,935},{48,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ic_..._02_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,38}</string>
                <key>spriteSourceSize</key>
                <string>{48,38}</string>
                <key>textureRect</key>
                <string>{{948,970},{48,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ic_star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,46}</string>
                <key>spriteSourceSize</key>
                <string>{48,46}</string>
                <key>textureRect</key>
                <string>{{968,874},{48,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jackpot/bg_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{388,82}</string>
                <key>spriteSourceSize</key>
                <string>{388,82}</string>
                <key>textureRect</key>
                <string>{{5,485},{388,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jackpot/bg_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{868,49}</string>
                <key>spriteSourceSize</key>
                <string>{868,49}</string>
                <key>textureRect</key>
                <string>{{5,74},{868,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jackpot/bg_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{868,63}</string>
                <key>spriteSourceSize</key>
                <string>{868,63}</string>
                <key>textureRect</key>
                <string>{{5,5},{868,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jackpot/bg_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,38}</string>
                <key>spriteSourceSize</key>
                <string>{56,38}</string>
                <key>textureRect</key>
                <string>{{912,713},{56,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light_time_big_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,123}</string>
                <key>spriteSourceSize</key>
                <string>{123,123}</string>
                <key>textureRect</key>
                <string>{{855,305},{123,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light_time_big_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,15}</string>
                <key>spriteSourceSize</key>
                <string>{16,15}</string>
                <key>textureRect</key>
                <string>{{971,497},{16,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light_time_small_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,11}</string>
                <key>spriteSourceSize</key>
                <string>{11,11}</string>
                <key>textureRect</key>
                <string>{{337,734},{11,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_chat_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{434,3}</string>
                <key>spriteSourceSize</key>
                <string>{434,3}</string>
                <key>textureRect</key>
                <string>{{5,573},{434,3}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_chat_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{434,3}</string>
                <key>spriteSourceSize</key>
                <string>{434,3}</string>
                <key>textureRect</key>
                <string>{{14,573},{434,3}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_pot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,32}</string>
                <key>spriteSourceSize</key>
                <string>{2,32}</string>
                <key>textureRect</key>
                <string>{{915,927},{2,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>name_game.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,82}</string>
                <key>spriteSourceSize</key>
                <string>{263,82}</string>
                <key>textureRect</key>
                <string>{{399,489},{263,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rebet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,41}</string>
                <key>spriteSourceSize</key>
                <string>{131,41}</string>
                <key>textureRect</key>
                <string>{{787,825},{131,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_Compare2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{664,75}</string>
                <key>spriteSourceSize</key>
                <string>{664,75}</string>
                <key>textureRect</key>
                <string>{{5,129},{664,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_Compare3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{664,75}</string>
                <key>spriteSourceSize</key>
                <string>{664,75}</string>
                <key>textureRect</key>
                <string>{{5,210},{664,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_allin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,32}</string>
                <key>spriteSourceSize</key>
                <string>{132,32}</string>
                <key>textureRect</key>
                <string>{{984,305},{132,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txt_bank_time_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,73}</string>
                <key>spriteSourceSize</key>
                <string>{103,73}</string>
                <key>textureRect</key>
                <string>{{892,434},{103,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txt_bettime_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,71}</string>
                <key>spriteSourceSize</key>
                <string>{216,71}</string>
                <key>textureRect</key>
                <string>{{680,566},{216,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_compare.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,57}</string>
                <key>spriteSourceSize</key>
                <string>{110,57}</string>
                <key>textureRect</key>
                <string>{{799,872},{110,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_finish_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,73}</string>
                <key>spriteSourceSize</key>
                <string>{103,73}</string>
                <key>textureRect</key>
                <string>{{787,746},{103,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_goodluck_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,56}</string>
                <key>spriteSourceSize</key>
                <string>{192,56}</string>
                <key>textureRect</key>
                <string>{{23,931},{192,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_hoa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,56}</string>
                <key>spriteSourceSize</key>
                <string>{73,56}</string>
                <key>textureRect</key>
                <string>{{912,634},{73,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txt_lose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,68}</string>
                <key>spriteSourceSize</key>
                <string>{85,68}</string>
                <key>textureRect</key>
                <string>{{902,543},{85,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txt_max_bet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,32}</string>
                <key>spriteSourceSize</key>
                <string>{131,32}</string>
                <key>textureRect</key>
                <string>{{699,985},{131,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_not_draw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,44}</string>
                <key>spriteSourceSize</key>
                <string>{99,44}</string>
                <key>textureRect</key>
                <string>{{799,935},{99,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,51}</string>
                <key>spriteSourceSize</key>
                <string>{155,51}</string>
                <key>textureRect</key>
                <string>{{856,248},{155,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_player_takecards_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{326,67}</string>
                <key>spriteSourceSize</key>
                <string>{326,67}</string>
                <key>textureRect</key>
                <string>{{355,657},{326,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_pot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,16}</string>
                <key>spriteSourceSize</key>
                <string>{36,16}</string>
                <key>textureRect</key>
                <string>{{131,993},{36,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_starttime_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,73}</string>
                <key>spriteSourceSize</key>
                <string>{232,73}</string>
                <key>textureRect</key>
                <string>{{337,882},{232,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x2_big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,53}</string>
                <key>spriteSourceSize</key>
                <string>{52,53}</string>
                <key>textureRect</key>
                <string>{{896,757},{52,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x3_big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,53}</string>
                <key>spriteSourceSize</key>
                <string>{52,53}</string>
                <key>textureRect</key>
                <string>{{954,757},{52,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x5_big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,53}</string>
                <key>spriteSourceSize</key>
                <string>{52,53}</string>
                <key>textureRect</key>
                <string>{{924,816},{52,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shan.png</string>
            <key>size</key>
            <string>{1021,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de473d24a4ff32a481a20dcd37b54fc2:2d80150a6483824bea4c67dc5acd46aa:de03be35eb5535808167e6f895d411db$</string>
            <key>textureFileName</key>
            <string>shan.png</string>
        </dict>
    </dict>
</plist>
