<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame_avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,602},{205,220}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{205,220}}</string>
                <key>sourceSize</key>
                <string>{211,230}</string>
            </dict>
            <key>frame_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{273,345}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,345}}</string>
                <key>sourceSize</key>
                <string>{273,345}</string>
            </dict>
            <key>frame_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1},{269,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,98}}</string>
                <key>sourceSize</key>
                <string>{269,98}</string>
            </dict>
            <key>frame_thongtin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,348},{510,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,77}}</string>
                <key>sourceSize</key>
                <string>{510,77}</string>
            </dict>
            <key>ic_catdat.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,272},{174,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,71}}</string>
                <key>sourceSize</key>
                <string>{174,71}</string>
            </dict>
            <key>ic_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,888},{103,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,104}}</string>
                <key>sourceSize</key>
                <string>{103,104}</string>
            </dict>
            <key>ic_exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,888},{103,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,104}}</string>
                <key>sourceSize</key>
                <string>{103,104}</string>
            </dict>
            <key>ic_huongdan.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,451},{182,68}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,68}}</string>
                <key>sourceSize</key>
                <string>{212,68}</string>
            </dict>
            <key>ic_lichsu.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,635},{172,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,63}}</string>
                <key>sourceSize</key>
                <string>{172,63}</string>
            </dict>
            <key>ic_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,345},{103,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,104}}</string>
                <key>sourceSize</key>
                <string>{103,104}</string>
            </dict>
            <key>ic_pick.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,204},{52,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,41}}</string>
                <key>sourceSize</key>
                <string>{52,41}</string>
            </dict>
            <key>ic_vinhdanh.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,1},{201,68}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,68}}</string>
                <key>sourceSize</key>
                <string>{215,68}</string>
            </dict>
            <key>ic_xepbai.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,824},{153,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,154}}</string>
                <key>sourceSize</key>
                <string>{153,154}</string>
            </dict>
            <key>light_chonbai].png</key>
            <dict>
                <key>frame</key>
                <string>{{162,348},{198,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,252}}</string>
                <key>sourceSize</key>
                <string>{198,252}</string>
            </dict>
            <key>timeline.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,348},{538,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{538,47}}</string>
                <key>sourceSize</key>
                <string>{538,47}</string>
            </dict>
            <key>timeline_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,348},{522,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{522,31}}</string>
                <key>sourceSize</key>
                <string>{522,31}</string>
            </dict>
            <key>title.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,451},{206,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,24}}</string>
                <key>sourceSize</key>
                <string>{206,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_main.png</string>
            <key>size</key>
            <string>{466,992}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e33ce14d5a3ddbe9e0ed4ce7cf725200:df69895b49bfe63ac973c890506bf09c:6973c62654cc7a6e82ba66fef5fe96f0$</string>
            <key>textureFileName</key>
            <string>ui_main.png</string>
        </dict>
    </dict>
</plist>
