<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bonus.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,893},{107,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,100}}</string>
                <key>sourceSize</key>
                <string>{109,100}</string>
            </dict>
            <key>btn_quay.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,517},{282,247}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,247}}</string>
                <key>sourceSize</key>
                <string>{282,249}</string>
            </dict>
            <key>btn_sieutoc.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,853},{144,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,136}}</string>
                <key>sourceSize</key>
                <string>{144,136}</string>
            </dict>
            <key>btn_sieutoc_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1039},{144,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,136}}</string>
                <key>sourceSize</key>
                <string>{144,136}</string>
            </dict>
            <key>btn_tudong.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,1145},{144,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,136}}</string>
                <key>sourceSize</key>
                <string>{144,136}</string>
            </dict>
            <key>btn_tudong_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1177},{144,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,136}}</string>
                <key>sourceSize</key>
                <string>{144,136}</string>
            </dict>
            <key>choithat.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,893},{191,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,144}}</string>
                <key>sourceSize</key>
                <string>{191,144}</string>
            </dict>
            <key>choithu.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,999},{191,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,144}}</string>
                <key>sourceSize</key>
                <string>{191,144}</string>
            </dict>
            <key>dong.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,1},{147,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,111}}</string>
                <key>sourceSize</key>
                <string>{147,111}</string>
            </dict>
            <key>frame_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,150},{183,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,83}}</string>
                <key>sourceSize</key>
                <string>{183,83}</string>
            </dict>
            <key>freespin.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,783},{108,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,102}}</string>
                <key>sourceSize</key>
                <string>{108,102}</string>
            </dict>
            <key>ic_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,671},{110,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,101}}</string>
                <key>sourceSize</key>
                <string>{110,101}</string>
            </dict>
            <key>ic_bangthuong.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,335},{89,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,82}}</string>
                <key>sourceSize</key>
                <string>{89,82}</string>
            </dict>
            <key>ic_bxh.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,419},{89,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,82}}</string>
                <key>sourceSize</key>
                <string>{89,82}</string>
            </dict>
            <key>ic_lichsu.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,503},{89,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,82}}</string>
                <key>sourceSize</key>
                <string>{89,82}</string>
            </dict>
            <key>ic_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,750},{110,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,101}}</string>
                <key>sourceSize</key>
                <string>{110,101}</string>
            </dict>
            <key>ic_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,587},{89,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,82}}</string>
                <key>sourceSize</key>
                <string>{89,82}</string>
            </dict>
            <key>ic_music_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,995},{89,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,82}}</string>
                <key>sourceSize</key>
                <string>{89,82}</string>
            </dict>
            <key>ic_sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,1145},{89,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,82}}</string>
                <key>sourceSize</key>
                <string>{89,82}</string>
            </dict>
            <key>ic_sound_offf.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,1229},{89,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,82}}</string>
                <key>sourceSize</key>
                <string>{89,82}</string>
            </dict>
            <key>item_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,491},{120,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,126}}</string>
                <key>sourceSize</key>
                <string>{120,126}</string>
            </dict>
            <key>item_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,1079},{113,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,119}}</string>
                <key>sourceSize</key>
                <string>{113,119}</string>
            </dict>
            <key>item_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,1200},{116,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,123}}</string>
                <key>sourceSize</key>
                <string>{116,123}</string>
            </dict>
            <key>item_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,1},{225,194}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{225,194}}</string>
                <key>sourceSize</key>
                <string>{229,200}</string>
            </dict>
            <key>jackpot.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,619},{111,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,129}}</string>
                <key>sourceSize</key>
                <string>{111,129}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{514,146}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{514,146}}</string>
                <key>sourceSize</key>
                <string>{520,150}</string>
            </dict>
            <key>muccuoc.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,766},{252,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,125}}</string>
                <key>sourceSize</key>
                <string>{252,125}</string>
            </dict>
            <key>tongcuoc.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,197},{292,129}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{292,129}}</string>
                <key>sourceSize</key>
                <string>{298,129}</string>
            </dict>
            <key>tongthang.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,197},{316,129}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{316,129}}</string>
                <key>sourceSize</key>
                <string>{322,129}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_main.png</string>
            <key>size</key>
            <string>{501,1317}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18000076797eab9531d6cd7b5bbe4041:da253b657605224bdaeec07bb7fb1986:6973c62654cc7a6e82ba66fef5fe96f0$</string>
            <key>textureFileName</key>
            <string>ui_main.png</string>
        </dict>
    </dict>
</plist>
