<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>So_At.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,354},{713,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{713,202}}</string>
                <key>sourceSize</key>
                <string>{713,202}</string>
            </dict>
            <key>arranging_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,1327},{196,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,48}}</string>
                <key>sourceSize</key>
                <string>{196,48}</string>
            </dict>
            <key>bat_sap_lang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1069},{642,179}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,16},{642,179}}</string>
                <key>sourceSize</key>
                <string>{714,195}</string>
            </dict>
            <key>bi_sap_lang.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,611},{714,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{714,70}}</string>
                <key>sourceSize</key>
                <string>{714,70}</string>
            </dict>
            <key>btn_arrange_again.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,433},{176,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,57}}</string>
                <key>sourceSize</key>
                <string>{176,57}</string>
            </dict>
            <key>btn_arrange_bao_binh.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1337},{176,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,57}}</string>
                <key>sourceSize</key>
                <string>{176,57}</string>
            </dict>
            <key>btn_arrange_so_chi.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,254},{177,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,57}}</string>
                <key>sourceSize</key>
                <string>{177,57}</string>
            </dict>
            <key>kind_of_chi_slot.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,354},{157,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,103}}</string>
                <key>sourceSize</key>
                <string>{157,103}</string>
            </dict>
            <key>maubinh_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,258},{560,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,122}}</string>
                <key>sourceSize</key>
                <string>{560,122}</string>
            </dict>
            <key>maubinh_chi_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,254},{307,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,48}}</string>
                <key>sourceSize</key>
                <string>{307,48}</string>
            </dict>
            <key>maubinh_type_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1515},{196,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,48}}</string>
                <key>sourceSize</key>
                <string>{196,48}</string>
            </dict>
            <key>mb_bg_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,1527},{166,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,172}}</string>
                <key>sourceSize</key>
                <string>{166,172}</string>
            </dict>
            <key>player_slot_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{371,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,251}}</string>
                <key>sourceSize</key>
                <string>{371,251}</string>
            </dict>
            <key>rs_culu.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,820},{130,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,49}}</string>
                <key>sourceSize</key>
                <string>{130,49}</string>
            </dict>
            <key>rs_doi.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1515},{196,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,48}}</string>
                <key>sourceSize</key>
                <string>{196,48}</string>
            </dict>
            <key>rs_mauthau.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,1069},{138,48}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,0},{138,48}}</string>
                <key>sourceSize</key>
                <string>{196,48}</string>
            </dict>
            <key>rs_sam.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,1377},{196,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,48}}</string>
                <key>sourceSize</key>
                <string>{196,48}</string>
            </dict>
            <key>rs_sanh.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,1427},{196,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,48}}</string>
                <key>sourceSize</key>
                <string>{196,48}</string>
            </dict>
            <key>rs_thu.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,1477},{196,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,48}}</string>
                <key>sourceSize</key>
                <string>{196,48}</string>
            </dict>
            <key>rs_thung.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,871},{196,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,48}}</string>
                <key>sourceSize</key>
                <string>{196,48}</string>
            </dict>
            <key>rs_thungphasanh.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,304},{307,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,48}}</string>
                <key>sourceSize</key>
                <string>{307,48}</string>
            </dict>
            <key>rs_tuqui.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,871},{196,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,48}}</string>
                <key>sourceSize</key>
                <string>{196,48}</string>
            </dict>
            <key>sap_3_chi.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,621},{714,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{714,70}}</string>
                <key>sourceSize</key>
                <string>{714,70}</string>
            </dict>
            <key>selectCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,513},{82,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,106}}</string>
                <key>sourceSize</key>
                <string>{82,106}</string>
            </dict>
            <key>soloMauBinhTinhAt.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1},{117,255}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{117,255}}</string>
                <key>sourceSize</key>
                <string>{119,257}</string>
            </dict>
            <key>sp_violet.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,1069},{196,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,48}}</string>
                <key>sourceSize</key>
                <string>{196,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PlistMauBinh.png</string>
            <key>size</key>
            <string>{492,1712}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:30443d2fb5ee7338762f27cb293e723f:4046590632da1c87bbb76eff8df90a1a:585c3d38c1fcc711f7858f611a435bff$</string>
            <key>textureFileName</key>
            <string>PlistMauBinh.png</string>
        </dict>
    </dict>
</plist>
